*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'SinkinSans-400Regular';
  font-size: 20px;
  margin: 0 auto;
}

h1 {
  font-size: 1.2em;
}

@media (min-width: 576px) {
  h1 {
    font-size: 1.4em;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 1.6em;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 2em;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 2.1em;
  }
}

h2 {
  font-size: 1.4em;
  line-height: 1.3;
  margin: 10px 0 30px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5em;
    margin: 30px 0 50px;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 2.2em;
    margin: 30px 0 50px;
  }
}

h3 {
  font-size: 0.8em;
  font-family: 'SinkinSans-700Bold';
  line-height: 1.5;
}

@media (min-width: 992px) {
  h3 {
    font-size: 1.1em;
  }
}

@media (min-width: 1600px) {
  h3 {
    font-size: 1.7em;
  }
}

h5 {
  line-height: 1.8;
}

@media (min-width: 1600px) {
  h5 {
    font-size: 1.8em;
  }
}

p {
  font-size: 0.7em;
}

@media (min-width: 1200px) {
  p {
    font-size: 0.8em;
  }
}

@media (min-width: 1440px) {
  p {
    font-size: 1em;
  }
}

@media (min-width: 1600px) {
  p {
    font-size: 1.1em;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

#backgroundVideo,
#backgroundVideo2 {
  display: none;
}

@media (min-width: 575px) {

  #backgroundVideo,
  #backgroundVideo2 {
    display: block;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px) grayscale(10%) brightness(80%);
  backdrop-filter: blur(10px) grayscale(10%) brightness(80%);
  z-index: 18;
}

@media (max-width: 768px) and (orientation: landscape) {
  .overlay {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}

@font-face {
  font-family: 'SinkinSans-300Light';
  font-style: normal;
  font-weight: 300;
  src: local('SinkinSans-300Light'),
    url(fonts/SinkinSans-300Light.woff) format('woff');
}

@font-face {
  font-family: 'SinkinSans-400Regular';
  font-style: normal;
  font-weight: 400;
  src: local('SinkinSans-400Regular'),
    url(fonts/SinkinSans-400Regular.woff) format('woff');
}

@font-face {
  font-family: 'SinkinSans-500Medium';
  font-style: normal;
  font-weight: 500;
  src: local('SinkinSans-500Medium'),
    url(fonts/SinkinSans-500Medium.woff) format('woff');
}

@font-face {
  font-family: 'SinkinSans-700Bold';
  font-style: normal;
  font-weight: 700;
  src: local('SinkinSans-700Bold'),
    url(fonts/SinkinSans-700Bold.woff) format('woff');
}

@font-face {
  font-family: 'SinkinSans-900XBlack';
  font-style: normal;
  font-weight: 900;
  src: local('SinkinSans-900XBlack'),
    url(fonts/SinkinSans-900XBlack.woff) format('woff');
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'SinkinSans-400Regular';
  font-size: 20px;
  margin: 0 auto;
}

h1 {
  font-size: 1.2em;
}

@media (min-width: 576px) {
  h1 {
    font-size: 1.4em;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 1.6em;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 2em;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 2.1em;
  }
}

h2 {
  font-size: 1.4em;
  line-height: 1.3;
  margin: 10px 0 30px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5em;
    margin: 30px 0 50px;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 2.2em;
    margin: 30px 0 50px;
  }
}

h3 {
  font-size: 20px;
  font-family: 'SinkinSans-700Bold';
  line-height: 1.5;
}

@media (min-width: 992px) {
  h3 {
    font-size: 1.1em;
  }
}

@media (min-width: 1600px) {
  h3 {
    font-size: 1.7em;
  }
}

h5 {
  line-height: 1.8;
}

@media (min-width: 1600px) {
  h5 {
    font-size: 1.8em;
  }
}

p {
  font-size: 20px;
}

@media (min-width: 1200px) {
  p {
    font-size: 0.8em;
  }
}

@media (min-width: 1440px) {
  p {
    font-size: 1em;
  }
}

@media (min-width: 1600px) {
  p {
    font-size: 1.1em;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

#backgroundVideo,
#backgroundVideo2 {
  display: none;
}

@media (min-width: 575px) {

  #backgroundVideo,
  #backgroundVideo2 {
    display: block;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px) grayscale(10%) brightness(80%);
  backdrop-filter: blur(10px) grayscale(10%) brightness(80%);
  z-index: 18;
}

@media (max-width: 768px) and (orientation: landscape) {
  .overlay {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}

.page-header {
  width: 100%;
  padding: 0 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../img/footer-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media (min-width: 425px) {
  .page-header {
    height: auto;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .page-header {
    height: auto;
  }
}

@media (min-width: 767px) and (orientation: portrait) {
  .page-header {
    height: auto;
  }
}

.page-header .header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  color: #fff;
  padding: 15px;
  margin: 0 auto;
}

@media (min-width: 425px) {
  .page-header .header-box {
    padding: 30px;
  }
}

@media (min-width: 576px) {
  .page-header .header-box {
    width: 88%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-header .header-box {
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
  }
}

@media (min-width: 992px) {
  .page-header .header-box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .page-header .header-box {
    margin: 0;
  }
}

.page-header .header-box .header__title {
  text-align: center;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .page-header .header-box .header__title {
    padding-top: 30px;
  }
}

@media (min-width: 767px) {
  .page-header .header-box .header__title {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .page-header .header-box .header__title {
    padding-top: 10px;
  }
}

@media screen and (min-width: 992px) and (-ms-high-contrast: active),
(min-width: 992px) and (-ms-high-contrast: none) {
  .page-header .header-box .header__title {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1600px) and (-ms-high-contrast: active),
(min-width: 1600px) and (-ms-high-contrast: none) {
  .page-header .header-box .header__title {
    padding-top: 100px;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .page-header .header-box .header__title {
    width: 100%;
  }
}

.page-header .header-box .header-img {
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 370px) {
  .page-header .header-box .header-img {
    max-width: 75%;
  }
}

@media (min-width: 576px) {
  .page-header .header-box .header-img {
    max-width: 53%;
  }
}

@media (min-width: 767px) {
  .page-header .header-box .header-img {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .page-header .header-box .header-img {
    max-width: 39%;
    margin-top: 0;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .page-header .header-box .header-img {
    max-height: 200px;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
}

.page-header .header-box .benefit-items {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (min-width: 767px) {
  .page-header .header-box .benefit-items {
    margin-top: 40px;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .page-header .header-box .benefit-items {
    text-align: center;
    width: 100%;
    margin-top: 0;
    padding-top: 50px;
  }
}

.page-header .header-box .benefit-items li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 40px;
}

@media (min-width: 370px) {
  .page-header .header-box .benefit-items li {
    margin-left: 50px;
  }
}

@media (min-width: 1600px) {
  .page-header .header-box .benefit-items li {
    margin-left: 70px;
  }
}

.page-header .header-box .benefit-items li::before {
  position: absolute;
  content: '';
  top: 5%;
  left: -40px;
  background-image: url(../img/arrow-sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 15px;
  width: 40px;
  height: 20px;
}

@media (min-width: 370px) {
  .page-header .header-box .benefit-items li::before {
    left: -50px;
    background-size: 35px 20px;
  }
}

@media (min-width: 1600px) {
  .page-header .header-box .benefit-items li::before {
    left: -70px;
    background-size: 50px 30px;
    width: 50px;
    height: 30px;
  }
}

@media screen and (-ms-high-contrast: active) and (max-width: 425px),
(-ms-high-contrast: none) and (max-width: 425px) {
  .page-header .header-box .benefit-items li {
    font-size: 0.9em;
  }
}

.page-header .header-box .benefit-items li h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 0.6em;
}

@media (min-width: 370px) {
  .page-header .header-box .benefit-items li h3 {
    font-size: 0.7em;
  }
}

@media (min-width: 768px) {
  .page-header .header-box .benefit-items li h3 {
    font-size: 0.8rem;
  }
}

@media (min-width: 1600px) {
  .page-header .header-box .benefit-items li h3 {
    font-size: 1.2rem;
  }
}

@media screen and (-ms-high-contrast: active) and (min-width: 992px),
(-ms-high-contrast: none) and (min-width: 992px) {
  .page-header .header-box .benefit-items li h3 {
    font-size: 0.9em;
  }
}

@media screen and (-ms-high-contrast: active) and (min-width: 1600px),
(-ms-high-contrast: none) and (min-width: 1600px) {
  .page-header .header-box .benefit-items li h3 {
    font-size: 1.1em;
  }
}

.video__wrap {
  background-image: url(../img/section_9-photo-fill.html);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 30px 0 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .video__wrap {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
  }
}

.video__wrap .video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .video__wrap .video-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.video__wrap .video-container .video__wrapper {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

@media (min-width: 768px) {
  .video__wrap .video-container .video__wrapper {
    width: 30%;
    margin: 0 5px;
    margin-bottom: 0;
  }
}

.video__wrap .video-container .video__wrapper .play__btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 80;
  width: 100%;
  max-width: 40px;
  height: auto;
  cursor: pointer;
}

@media (min-width: 768px) {
  .video__wrap .video-container .video__wrapper .play__btn {
    max-width: 45px;
  }
}

.video__wrap .video-container video {
  width: 100%;
}

.video__wrap .video-container video::-internal-media-controls-download-button {
  display: none;
}

.video__wrap .video-container video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

.video__wrap .video-container video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

.sticker {
  display: none;
}

@media (min-width: 1200px) {
  .sticker {
    display: block;
    position: fixed;
    z-index: 88;
    width: 10rem;
    height: 10rem;
    right: 0;
    bottom: 0;
  }

  .sticker img {
    cursor: pointer;
  }
}

@media (min-width: 1500px) {
  .sticker {
    width: 15rem;
    height: 15rem;
  }
}

.page-wrapper {
  padding: 0;
  margin: 0 auto;
}

.page-wrapper .container {
  width: 100%;
}

.product-bottle{
  max-width: 300px;
}

@media (min-width: 767px) {
  .page-wrapper .container {
    width: 80%;
  }
}

@media (min-width: 1224px) {
  .page-wrapper .container {
    padding: 30px 15px;
  }
}

.page-wrapper .section__1-white {
  /*background-image: url(../img/black-bg.png);*/
  background-position: 18% 100%;

  background-size: cover;
}

@media (min-width: 768px) {
  .page-wrapper .section__1-white {
    background-position: center;
    background-size: cover;
  }
}

.page-wrapper .section__1-white .section-wrapper {
  background:black;
}

.page-wrapper .section__1-white .section-wrapper .section__1-content {
  position: relative;
  padding-top: 30px;
}

@media (min-width: 576px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content {
    padding-top: 30px;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content {
    padding-top: 30px;
  }
}


@media (min-width: 1224px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content {
    padding-top: 0px;
  }
}

.page-wrapper .section__1-white .section-wrapper .section__1-content h3 {
  text-align: right;
}

@media (min-width: 768px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content h3 {
    margin-left: 40px;
  }
}

@media (min-width: 1200px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content h3 {
    margin-left: 80px;
  }
}

.page-wrapper .section__1-white .section-wrapper .section__1-content p {
  font-family: 'SinkinSans-500Medium';
  margin-top: 30px !important;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content p {
    margin-bottom: 30px;
    margin-left: 50px;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content p {
    margin-top: 55px;
    margin-left: 25%;
  }
}


@media (min-width: 1224px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content p {
    margin-bottom: 0px;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__1-white .section-wrapper .section__1-content p {
    margin-left: 10%;
  }
}

.page-wrapper .section__1-image {
  position: relative;
}

.page-wrapper .section__1-image .img-box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.page-wrapper .section__1-image .img-box img{
  display: inline;
}

@media (min-width: 576px) {
  .page-wrapper .section__1-image .img-box {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.page-wrapper .section__2-actor {

background: black;  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.page-wrapper .section__2-actor .actor__content {
  padding: 30px 15px;
}

.page-wrapper .section__2-actor .actor__content .actor__img {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 80%;
  height: auto;
}

@media (min-width: 425px) {
  .page-wrapper .section__2-actor .actor__content .actor__img {
    width: 50%;
    float: left;
    text-align: left;
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .page-wrapper .section__2-actor .actor__content .actor__img {
    width: 40%;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__2-actor .actor__content .actor__img {
    width: 30%;
  }
}

.page-wrapper .section__2-actor .actor__content h3 {
  margin-bottom: 20px;
}

.page-wrapper .section__2-actor .actor__content p {
  font-family: 'SinkinSans-300Light';
}

.page-wrapper .section__3-graf {
  padding-bottom: 50px;
  background-image: url('../img/bg_3.html');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-wrapper .section__3-graf .section__3-content h2 {
  margin: 0;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content h2 {
    padding-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__3-graf .section__3-content h2 {
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper {
    position: relative;
    z-index: 9;
    margin: 50px 0 130px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper {
    margin: 100px 0 180px;
  }
}

.page-wrapper .section__3-graf .section__3-content .content-wrapper .gif-bg {
  display: none;
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .gif-bg {
    display: block;
    position: relative;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.page-wrapper .section__3-graf .section__3-content .content-wrapper .gif-box {
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .gif-box {
    position: absolute;
    top: 14%;
    left: 0px;
    right: 0;
    width: 32%;
    z-index: -1;
  }
}

.page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text {
  background: #dedfff;
  margin: 20px 0;
  padding: 20px 15px;
  border-radius: 40px;
  color: #000;
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text {
    position: absolute;
    width: 35%;
  }
}

.page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text h5 {
  font-family: 'SinkinSans-700Bold';
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text h5 {
    font-size: 0.6em;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text h5 {
    font-size: 0.6em;
  }
}

@media (min-width: 1200px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text h5 {
    font-size: 0.8em;
  }
}

@media (min-width: 1440px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text h5 {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text p {
    margin-bottom: 0;
    font-size: 0.4em;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text p {
    font-size: 0.6em;
  }
}

@media (min-width: 1200px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text p {
    font-size: 0.7em;
    padding-bottom: 10px;
  }
}

@media (min-width: 1440px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text p {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text--1 {
    position: absolute;
    top: -15px;
    left: -10px;
  }

  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text--2 {
    position: absolute;
    top: -10%;
    right: 0;
  }

  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text--3 {
    position: absolute;
    right: -15px;
    bottom: -65px;
  }

  .page-wrapper .section__3-graf .section__3-content .content-wrapper .box-text--4 {
    position: absolute;
    left: 0;
    bottom: -21%;
  }
}

.page-wrapper .section__3-graf .section__3-content .content-wrapper .arrow-box {
  display: none;
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .arrow-box {
    display: block;
    width: 10%;
  }
}

@media (min-width: 768px) {
  .page-wrapper .section__3-graf .section__3-content .content-wrapper .arrow-box--top {
    position: absolute;
    top: -5%;
    left: 39%;
  }

  .page-wrapper .section__3-graf .section__3-content .content-wrapper .arrow-box--right {
    position: absolute;
    top: 42%;
    right: -5%;
  }

  .page-wrapper .section__3-graf .section__3-content .content-wrapper .arrow-box--bottom {
    position: absolute;
    bottom: -5%;
    right: 44%;
  }

  .page-wrapper .section__3-graf .section__3-content .content-wrapper .arrow-box--left {
    position: absolute;
    top: 59%;
    left: -3%;
  }
}

.page-wrapper .section__4-benefits {
  background-image: url('../img/last-bg-sm.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  text-align: center;
}

@media (min-width: 575px) {
  .page-wrapper .section__4-benefits {
    position: relative;
    background-image: none;
  }
}

.page-wrapper .section__4-benefits .section-4__wrapper {
  background: black;
  padding: 1px 0px;
}

.page-wrapper .section__4-benefits .section-4__wrapper .benefits__content h2 {
  font-family: 'SinkinSans-700Bold';
}

.page-wrapper .section__4-benefits .section-4__wrapper .benefits__content .benefit-items {
  padding-top: 0;
}

.page-wrapper .section__4-benefits .section-4__wrapper .benefits__content .benefit-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px;
}

@media (min-width: 575px) {
  .page-wrapper .section__4-benefits .section-4__wrapper .benefits__content .benefit-items li {
    padding-bottom: 0;
  }

  .page-wrapper .section__4-benefits .section-4__wrapper .benefits__content .benefit-items li::before {
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .page-wrapper .section__4-benefits .section-4__wrapper .benefits__content .benefit-items li {
    padding-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__4-benefits .section-4__wrapper .benefits__content .benefit-items li::before {
    padding-right: 60px;
  }
}

.page-wrapper .section__5-sentence {
background: #cf0000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  text-align: center;
}

@media (min-width: 575px) {
  .page-wrapper .section__5-sentence {
    position: relative;
    background-image: none;
  }
}

.page-wrapper .section__5-sentence .section-5__wrapper {
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 30px;
}

.page-wrapper .section__5-sentence .section-5__wrapper .sentence__content {
  border: 3px solid #fff;
  margin: 30px auto !important;
  padding: 20px 10px;
}

@media (min-width: 992px) {
  .page-wrapper .section__5-sentence .section-5__wrapper .sentence__content {
    padding: 20px 30px 30px;
  }
}

@media (min-width: 1200px) {
  .page-wrapper .section__5-sentence .section-5__wrapper .sentence__content {
    padding: 40px 35px 50px;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__5-sentence .section-5__wrapper .sentence__content {
    padding: 40px 50px 50px;
  }
}

@media (min-width: 575px) {
  .page-wrapper .section__5-sentence .section-5__wrapper .sentence__content h5 {
    font-size: 0.8em;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__5-sentence .section-5__wrapper .sentence__content h5 {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .page-wrapper .section__5-sentence .section-5__wrapper .sentence__content h5 {
    font-size: 1.2em;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__5-sentence .section-5__wrapper .sentence__content h5 {
    font-size: 1.6em;
  }
}

.page-wrapper .section__6-client {
  padding: 20px 0;
}

.page-wrapper .section__6-client .section-6__wrapper .client__grid .column-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 20px;
  border-bottom: 1px solid #000;
}

@media (min-width: 1200px) {
  .page-wrapper .section__6-client .section-6__wrapper .client__grid .column-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.page-wrapper .section__6-client .section-6__wrapper .client__grid .column-box p {
  width: 100%;
  font-size: 0.7em;
}

.page-wrapper .section__6-client .section-6__wrapper .client__grid .column-box .img-box {
  width: 75%;
  height: 50%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .page-wrapper .section__6-client .section-6__wrapper .client__grid .column-box .img-box {
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .page-wrapper .section__6-client .section-6__wrapper .client__grid {
    padding-bottom: 20px;
  }

  .page-wrapper .section__6-client .section-6__wrapper .client__grid .column__left-item {
    border-right: 1px solid #000;
  }

  .page-wrapper .section__6-client .section-6__wrapper .client__grid .column--end {
    border-bottom: none;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__6-client .section-6__wrapper .client__grid .column__left-item {
    padding-left: 8%;
  }

  .page-wrapper .section__6-client .section-6__wrapper .client__grid .column__right-item {
    padding-right: 8%;
  }
}

.page-wrapper .section__6-client .section-6__wrapper .client__grid .column__movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-wrapper .section__6-client .section-6__wrapper .client__grid .column__movie p {
  width: 100%;
}

.page-wrapper .section__6-client .section-6__wrapper .client__grid .column__movie .img-box {
  width: 100%;
}

@media (min-width: 1200px) {
  .page-wrapper .section__6-client .section-6__wrapper .client__grid .column__movie .img-box {
    width: 75%;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .page-wrapper .section__6-client .section-6__wrapper .client__grid .column__movie .img-box {
    padding-top: 20px;
  }
}

.page-wrapper .section__6-client .section__6-stars {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 0.5em;
}

.page-wrapper .section__6-client .section__6-stars span {
  font-family: 'SinkinSans-900XBlack';
}

.page-wrapper .section__7-purple {
  background: black;
  color: #fff;
  font-family: 'SinkinSans-700Bold';
  padding-top: 20px;
  padding-bottom: 1px;
}

.page-wrapper .section__8-certified {
  color: #000;
  padding-bottom: 40px;
}

.page-wrapper .section__8-certified .paragh-top {
  padding-top: 5px;
}

@media (min-width: 768px) {
  .page-wrapper .section__8-certified .paragh-top {
    padding-bottom: 20px;
  }
}

.page-wrapper .section__8-certified .certified-box {
  text-align: center;
  border: 3px solid #000;
  background-image: url('../img/section_8-box-bg.html');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
}

.page-wrapper .section__8-certified .certified-box .certified__opacity {
  background: rgba(255, 255, 255, 0.6);
  position: relative;
}

.page-wrapper .section__8-certified .certified-box .certified__opacity .img-box--left,
.page-wrapper .section__8-certified .certified-box .certified__opacity .img-box--right {
  position: absolute;
  top: 0;
  opacity: 0.13;
  background: transparent;
  width: 28%;
}

.page-wrapper .section__8-certified .certified-box .certified__opacity .img-box--right {
  right: 0;
}

.page-wrapper .section__8-certified .certified-box .img-box {
  margin: 0 auto;
  width: 50%;
}

@media (min-width: 768px) {
  .page-wrapper .section__8-certified .certified-box .img-box {
    width: 25%;
  }
}

.page-wrapper .section__8-certified .certified-box p {
  font-size: 0.5em;
  margin-bottom: 0;
  padding: 15px;
}

@media (min-width: 768px) {
  .page-wrapper .section__8-certified .certified-box p {
    font-size: 1.2em;
    padding: 20px 50px 100px;
  }
}

.page-wrapper .section__9-qualities {
  background:black;
  color: #fff;
  padding-top: 20px;
}

.page-wrapper .section__9-qualities .section-9__wrapper h2 {
  font-family: 'SinkinSans-700Bold';
}

@media (min-width: 576px) {
  .page-wrapper .section__9-qualities .section-9__wrapper h2 {
    padding: 20px;
  }
}

.page-wrapper .section__9-qualities .qualities-items {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .page-wrapper .section__9-qualities .qualities-items {
    width: 80%;
  }
}

.page-wrapper .section__9-qualities .qualities-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

}

@media (min-width: 576px) {
  .page-wrapper .section__9-qualities .qualities-items li {
 /*   margin-bottom: 50px;*/
  }
}

.page-wrapper .section__9-qualities .qualities-items li .img-box {
  margin-right: 10px;
}

@media (min-width: 576px) {
  .page-wrapper .section__9-qualities .qualities-items li .img-box {
    margin-right: 15px;
  }
}

.page-wrapper .section__9-qualities .qualities-items li .img-box img {
  width: 50px;
  height: auto;
}

@media (min-width: 576px) {
  .page-wrapper .section__9-qualities .qualities-items li .img-box img {
    width: 55px;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__9-qualities .qualities-items li .img-box img {
    width: 100px;
  }
}

.page-wrapper .section__9-qualities .qualities-items li h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}

@media (min-width: 576px) {
  .page-wrapper .section__9-qualities .qualities-items li h5 {
    margin-bottom: 20px;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__9-qualities .qualities-items li h5 {
    margin-bottom: 30px;
  }
}

.page-wrapper .section__9-qualities .qualities-items li p {
  font-family: 'SinkinSans-300Light';
  letter-spacing: 1px;
}

.page-wrapper .section__10-risk {
  padding: 20px 0;
}

.page-wrapper .section__10-risk h2 {
  color: #000;
  font-family: 'SinkinSans-900XBlack';
  line-height: 1.5;
}

@media (min-width: 1600px) {
  .page-wrapper .section__10-risk h2 {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-wrapper .section__10-risk .section__10-content .text-box {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .page-wrapper .section__10-risk .section__10-content .text-box {
    margin-bottom: 50px;
  }
}

.page-wrapper .section__10-risk .section__10-content .img-box {
  width: 100%;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .page-wrapper .section__10-risk .section__10-content .img-box {
    width: 80%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .page-wrapper .section__10-risk .section__10-content .img-box:hover {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
}

.page-wrapper .section__11-form {
  background-image: url('../img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content {
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
}

@media (min-width: 576px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content {
    padding: 30px;
    width: 70%;
  }
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .header-img {
  margin: 20px auto;
}

@media (min-width: 576px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .header-img {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 576px) and (-ms-high-contrast: active),
(min-width: 576px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .header-img {
    margin: 20px auto;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .header-img {
    padding-bottom: 0;
  }
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-text {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) and (-ms-high-contrast: active),
(min-width: 1200px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-text {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1200px) and (-ms-high-contrast: active),
(min-width: 1200px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-text {
    padding-top: 100px;
  }
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits {
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits {
    margin-top: 160px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 992px) and (-ms-high-contrast: active),
(min-width: 992px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1200px) and (-ms-high-contrast: active),
(min-width: 1200px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits {
    margin-top: 20px;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits {
    margin-top: 200px;
  }
}

@media screen and (min-width: 1600px) and (-ms-high-contrast: active),
(min-width: 1600px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img .mockup2 {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img .best {
  position: absolute;
  top: 0;
  right: 20%;
  width: 25%;
  background: black;
  border-radius: 50%;
}

@media (min-width: 576px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
    position: absolute;
    width: 55%;
    top: 50%;
    transform: translateY(-50%);
    right: -15%;
  }
}

@media screen and (min-width: 992px) and (-ms-high-contrast: active),
(min-width: 992px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
    position: absolute;
    top: -19%;
    right: -27%;
  }
}

@media (min-width: 1200px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
    position: absolute;
    width: 55%;
    top: 50% !important;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1200px) and (-ms-high-contrast: active),
(min-width: 1200px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
    position: absolute;
    top: -19%;
    right: -22%;
  }
}

@media (min-width: 1440px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
    position: absolute;
    width: 50%;
    top: -70%;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
    position: absolute;
    top: -80%;
    right: -10%;
  }
}

@media screen and (min-width: 1600px) and (-ms-high-contrast: active),
(min-width: 1600px) and (-ms-high-contrast: none) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefits_11-img {
    position: absolute;
    top: -45%;
    right: -5%;
  }
}

@media (min-width: 768px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items {
    margin-top: 10px;
  }
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 40px;
}

@media (min-width: 370px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li {
    margin-left: 50px;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li {
    margin-left: 70px;
  }
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li::before {
  position: absolute;
  content: '';
  top: 5%;
  left: -40px;
  background-image: url(../img/arrow-sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 15px;
  width: 40px;
  height: 20px;
}

@media (min-width: 370px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li::before {
    left: -50px;
    background-size: 35px 20px;
  }
}

@media (min-width: 1600px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li::before {
    left: -70px;
    background-size: 50px 30px;
    width: 50px;
    height: 30px;
  }
}

@media screen and (-ms-high-contrast: active) and (max-width: 425px),
(-ms-high-contrast: none) and (max-width: 425px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li {
    font-size: 0.9em;
  }
}

.page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li h3 {
  font-size: 20px;
}

@media (min-width: 992px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li h3 {
    font-size: 0.8em;
  }
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items {
    padding-right: 300px;
  }
}

@media (min-width: 1200px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li h3 {
    font-size: 1em;
  }
}

@media (min-width: 1440px) {
  .page-wrapper .section__11-form .section__11-wrapper .section__11-content .section__11-benefits .benefit-items li h3 {
    font-size: 1.2em;
  }
}

.page-wrapper footer {
  margin-top: 150px;
  padding: 25px 0 10px;
  text-align: center;
}

.page-wrapper footer .links {
  font-size: 10px;
}

@media (min-width: 768px) {
  .page-wrapper footer .links {
    font-size: 14px;
  }
}

.page-wrapper footer .links a {
  margin: 0 8px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 90;
}

.form-wrap {
  padding: 20px 10px;
  width: 100%;
  max-width: 460px;
  height: auto;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.62);
  border: 1px solid pink;
  border-radius: 45px;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .form-wrap {
    max-width: 560px;
    margin-top: 150px;
  }
}

.form__container {
  position: relative;
  padding: 0.5rem;
}

.form__container .form {
  text-align: center;
  padding: 20px 0;
  font-family: 'Open sans', sans-serif;
}

.form__container .form__title {
  color: #e30613;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.form__container .form__input-wrapper {
  position: relative;
  margin: 0 0 20px 0;
}

.form__container .form-icon {
  position: absolute;
  z-index: 9;
  width: 24px;
  height: 24px;
  top: 42px;
  left: 8%;
}

.input-phone-prefix {
  position: absolute;
  z-index: 9;
  width: 80px;
  top: 8px;
  left: 16%;
}

.input-phone-prefix span {
  color: #fff;
}

.form__container .form__input {
  position: relative;
  width: 90%;
  background: white;
  height: 48px;
  padding: 10px;
  padding-left: 60px;
  color: black;
  border: none;
  border-bottom: 2px solid #e30613;
}

.form__container .form__input.input-with-prefix {
  padding-left: 140px;
}

.form__container .form__input::-webkit-input-placeholder {
  margin-left: 10%;
  color: black;
}

.form__container .form__input:-ms-input-placeholder {
  margin-left: 10%;
  color: black;
}

.form__container .form__input::-ms-input-placeholder {
  margin-left: 10%;
  color: black;
}

.form__container .form__input::placeholder {
  margin-left: 10%;
  color: black;
}

.form__container .form .error-feedback {
  visibility: hidden;
  color: red;
  text-align: left;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 0.6rem;
}

@media (min-width: 768px) {
  .form__container .form .error-feedback {
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {
  .form__container .form .error-feedback {
    margin: 0;
    margin-left: 30px;
  }
}

.form__container .form__button {
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  border-radius: 4px;
  background: #e30613;
  border: none;
  outline: none;
  padding: 15px 10px;
  color: #f2f9ff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media (min-width: 992px) {
  .form__container .form__button {
    width: 70%;
  }
}

.form__container .form__button:hover {
  background-color: #990a83;
}

.form__container .form__product {
  margin: 20px auto 10px;
  max-width: 200px;
}

@media (min-width: 992px) {
  .form__container .form__product {
    position: absolute;
    bottom: 10px;
    right: 0;
    max-width: 270px;
  }
}

.hidden-form {
  visibility: hidden;
  display: block;
  position: fixed;
  z-index: 91;
  width: 100%;
  max-width: 510px;
  margin: 0 auto;
  top: 15%;
  left: 50%;
  bottom: -10%;
  -webkit-transform: translate(-50%, -10%);
  -ms-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  background: #4e92c9;
  padding: 30px;
  overflow-y: scroll;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hidden-form--active {
  opacity: 1;
  visibility: visible;
  top: 10%;
}

.hidden-form .input__group {
  margin-top: 15px;
}

.hidden-form .input__group .form__email {
  margin-bottom: 20px;
}

.hidden-form .input__group .email .error-feedback {
  bottom: 36px;
  width: 250px;
  text-align: right;
}

.hidden-form .input__group.required {
  position: relative;
}

.hidden-form .input__group.required::before {
  content: '*';
  position: absolute;
  color: red;
  left: -15px;
  font-size: 20px;
}

.hidden-form .input__group.required .error-feedback {
  bottom: -24px;
  width: 250px;
  text-align: right;
}

.hidden-form .discount__text {
  font-size: 14px;
}

.hidden-form .discount__text span {
  font-size: 14px;
}

.hidden-form .discount__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.hidden-form .discount__partners-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px;
}

.hidden-form .discount__partners-img img {
  width: 100px;
  height: auto;
}

.hidden-form .discount__partners+p {
  background-color: #fdea81;
  color: black;
  border: 1px solid black;
  padding: 10px;
}

.hidden-form .discount__input {
  width: 100%;
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  padding: 15px;
  background: transparent;
  outline: none;
}

@font-face {
  font-family: 'SinkinSans-300Light';
  font-style: normal;
  font-weight: 300;
  src: local('SinkinSans-300Light'),
    url(fonts/SinkinSans-300Light.woff) format('woff');
}

@font-face {
  font-family: 'SinkinSans-400Regular';
  font-style: normal;
  font-weight: 400;
  src: local('SinkinSans-400Regular'),
    url(fonts/SinkinSans-400Regular.woff) format('woff');
}

@font-face {
  font-family: 'SinkinSans-500Medium';
  font-style: normal;
  font-weight: 500;
  src: local('SinkinSans-500Medium'),
    url(fonts/SinkinSans-500Medium.woff) format('woff');
}

@font-face {
  font-family: 'SinkinSans-700Bold';
  font-style: normal;
  font-weight: 700;
  src: local('SinkinSans-700Bold'),
    url(fonts/SinkinSans-700Bold.woff) format('woff');
}

@font-face {
  font-family: 'SinkinSans-900XBlack';
  font-style: normal;
  font-weight: 900;
  src: local('SinkinSans-900XBlack'),
    url(fonts/SinkinSans-900XBlack.woff) format('woff');
}

.hidden-form .discount__input::-webkit-input-placeholder {
  color: white;
}

.hidden-form .discount__input:-moz-placeholder {
  color: white;
}

.hidden-form .discount__input::-moz-placeholder {
  color: white;
}

.hidden-form .discount__input:-ms-input-placeholder {
  color: white;
}

.hidden-form .discount__input::-ms-input-placeholder {
  color: white;
}

.hidden-form .discount__button-1 {
  background: #e30613;
  border: none;
  text-decoration: underline;
  margin-top: 25px;
  font-size: 20px;
  cursor: pointer;
}

.hidden-form .discount__button-1:hover {
  background-color: #990a83;
}

.hidden-form label {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

.hidden-form .input__wrapper span {
  display: block;
  font-size: 16px;
}

.input__wrapper {
  position: relative;
}

.input__wrapper .error-feedback {
  visibility: hidden;
  position: absolute;
  color: red;
  bottom: -7px;
  right: 0;
  font-size: 12px;
  width: 250px;
  text-align: right;
}

.form__close {
  position: relative;
  width: 30px;
  height: 30px;
  left: 95%;
  top: -10px;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) and (orientation: landscape) {
  .popup {
    display: none;
  }
}

.popup__content {
  font-family: 'Open Sans', sans-serif;
  padding: 5rem 5rem;
  max-width: 85rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  background: #000;
}

@media only screen and (max-width: 992px) {
  .popup__content {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .popup__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    padding: 1.5rem 1rem 0;
  }
}

#close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  text-align: right;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 768px) {
  #close {
    top: 0;
  }
}

@media only screen and (max-width: 425px) {
  #close {
    font-size: 2rem;
    right: 1rem;
    top: 0.5rem;
  }
}

#close:hover {
  color: orange;
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  color: #fff;
  width: 100%;
}

@media (min-width: 768px) {
  .popup__text {
    width: 50%;
  }
}

.popup__text:not(:last-child) {
  margin-bottom: 1rem;
}

.popup__text-wait {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 900;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .popup__text-wait {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .popup__text-wait {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .popup__text-wait {
    font-size: 2rem;
    margin-bottom: 2px;
  }
}

.popup__text-offer {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .popup__text-offer {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .popup__text-offer {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 5px;
  }
}

.popup__text-collect {
  font-size: 0.7rem;
  font-weight: 300;
  padding: 0 2rem;
  opacity: 0.7;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .popup__text-collect {
    margin-bottom: 1rem;
  }
}

.popup__img {
  position: relative;
  width: 70%;
  max-width: 300px;
  margin: 0 auto 10px;
}

@media only screen and (max-width: 1200px) {
  .popup__img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 992px) {
  .popup__img {
    max-width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .popup__img {
    margin-top: 10px;
    max-width: 120px;
  }
}

.popup__img-product {
  width: 100%;
  height: auto;
}

.popup__img-mobile {
  display: block;
}

@media (min-width: 768px) {
  .popup__img-mobile {
    display: none;
  }
}

.popup__img-desktop {
  display: none;
}

@media (min-width: 768px) {
  .popup__img-desktop {
    display: block;
  }
}

.popup__text-discount {
  font-size: 1.6rem;
  line-height: 1.2;
  display: inline-block;
}

@media (max-width: 1200px) {
  .popup__text-discount {
    font-size: 1.3rem;
  }
}

@media (max-width: 992px) {
  .popup__text-discount {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 5px;
  }
}

.popup__button-further {
  background-color: #e30613;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.2;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 30px;
  text-decoration: none;
  max-width: 30rem;
  margin: 0 auto 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media (max-width: 1200px) {
  .popup__button-further {
    font-size: 1.3rem;
  }
}

@media (max-width: 992px) {
  .popup__button-further {
    font-size: 1rem;
  }
}

.popup__button-further:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.popup__button-back {
  color: rgba(172, 172, 172, 0.788);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0 auto 10px;
  border-bottom: 1px solid rgba(172, 172, 172, 0.788);
  display: inline;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
}

.popup__button-back:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.sticer__content {
  animation-name: stretch;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.9);

    border-radius: 50%;
  }

  100% {
    transform: scale(1.05);
  }
}

.section-form {
  background-image: url('../img/last-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 30px 0;
}

.section-form .form-wrap {
  margin-top: 0;
  margin-bottom: 0;
}

.section-form .form-intro {
  text-align: center;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 30px;
}

.section-form .form-intro .item {
  margin-bottom: 20px;
}

.section__11-form .form__container .form .error-feedback.error-feedback-show {
  display: block;
}

.section__11-form .form__container .form .error-feedback {
  display: none;
  visibility: visible;
  opacity: 1;
}

.section__11-form .hidden-form .error-feedback.error-feedback-show {
  display: block;
}

.section__11-form .hidden-form .error-feedback {
  display: none;
  visibility: visible;
  opacity: 1;
}

.scroll-btn {
  font-weight: 700;
  border-radius: 4px;
  background: #e30613;
  padding: 10px;
  border: none;
  margin: 0 auto;
  display: table;
  color: #fff;
  margin-bottom: 45px;
}

.scroll-btn:hover {
  text-decoration: none;
  color: #fff;
}

.footer{
  background: #000 !important;
  color: #fff !important;
}