.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Take full size */
    height: 100vh;
    width: 100%;
    /* Background */
    background: url("img1/58-fucking-sex-hd-best-image-download.jpg") center center / cover no-repeat;
}