html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
}

b {
    font-weight: bolder;
}

img {
    border-style: none;
}

input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input {
    overflow: visible;
}

[type="submit"] {
    -webkit-appearance: button;
}

[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

body,
h1,
h2,
p,
li {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    min-width: 320px;
    width: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #ffffff;
    background: #212121;
}

.wrapper {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 767px) {
    .wrapper {
        padding: 0 10px;
    }
}

.link {
    color: #FFF615;
    position: relative;
}

.link::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    background: #FFF615;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
}

.link:hover::after {
    transform: scale(1);
}

.header {
    padding-top: 10px;
    background: linear-gradient(90deg, #212121 0%, rgba(33, 33, 33, 0) 17.79%), linear-gradient(270deg, #212121 0%, rgba(33, 33, 33, 0) 18.15%), linear-gradient(180deg, rgba(33, 33, 33, 0) 43.21%, #212121 100%), url("./img/Image1.jpg") no-repeat center top;
    min-height: 500px;
}

@media (max-width: 991px) {
    .header {
        background: linear-gradient(90deg, #212121 0%, rgba(33, 33, 33, 0) 17.79%), linear-gradient(270deg, #212121 0%, rgba(33, 33, 33, 0) 18.15%), linear-gradient(180deg, rgba(33, 33, 33, 0) 43.21%, #212121 100%), url("./img/Image1.jpg") no-repeat center top/cover;
        min-height: auto;
    }
}

.head__nav {
    font-size: 0;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .head__nav {
        margin-bottom: 300px;
    }
}

@media (max-width: 479px) {
    .head__nav {
        margin-bottom: 150px;
    }
}

.header__logo-wrapper {
    display: inline-block;
    width: calc(100% - 80px);
    text-align: center;
    vertical-align: middle;
}

.header__logo {
    display: inline-block;
}

.header__menu-btn {
    width: 40px;
    height: 3px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    vertical-align: middle;
    position: relative;
    height: 50px;
    cursor: pointer;
}

.header__menu-btn span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
}

.header__menu-btn span::before,
.header__menu-btn span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #ffffff;
}

.header__menu-btn span::before {
    top: 10px;
    left: 0;
}

.header__menu-btn span::after {
    bottom: 10px;
    left: 0;
}

.header__search {
    display: inline-block;
    width: 40px;
    height: 50px;
    vertical-align: middle;
    background: url("./img/header__search-icon.svg") no-repeat center/25px auto;
}

.header__inner {
    text-align: center;
}

.header__stat-list {
    margin-bottom: 25px;
}

.header__stat-item {
    font-weight: 300;
    font-size: 20px;
    line-height: 42px;
    color: #ffffff;
    display: inline-block;
    margin-right: 25px;
}

@media (max-width: 991px) {
    .header__stat-item {
        color: #ffffff;
    }
}

@media (max-width: 767px) {
    .header__stat-item {
        font-size: 14px;
        line-height: 16px;
    }
}

.header__stat-item::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.header__stat-item:nth-child(1)::before {
    content: url("./img/icon__update.svg");
}

.header__stat-item:nth-child(2)::before {
    content: url("./img/icon__eye.svg");
}

.header__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 767px) {
    .header__title {
        font-size: 28px;
        line-height: 34px;
    }
}

@media (max-width: 991px) {
    .article {
        padding-top: 50px;
    }
}

.article__inner {
    max-width: 970px;
    background: #333333;
    padding: 60px;
    margin: 0 auto;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .article__inner {
        padding: 25px 50px;
    }
}

@media (max-width: 767px) {
    .article__inner {
        padding: 25px 10px;
    }
}

.article__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #ffffff;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .article__text {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
    }
}

.article__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .article__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
    }
}

.artcile__diagrams-wrapper {
    background: #474646;
    display: table;
    width: 100%;
    padding: 20px 50px;
    margin-bottom: 25px;
}

@media (max-width: 991px) {
    .artcile__diagrams-wrapper {
        display: block;
        font-size: 0;
        padding: 10px;
    }
}

.article__diagrams-title {
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
}

@media (max-width: 991px) {
    .article__diagrams-title {
        display: block;
        text-align: center;
    }
}

.article__diagram {
    display: table-cell;
    text-align: center;
}

.article__diagram p {
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}

.article__diagram img {
    margin: 0 auto;
}

@media (max-width: 991px) {
    .article__diagram {
        width: 50%;
        display: inline-block;
        padding: 0 5px;
    }
}

.article__reviews-list li {
    font-size: 0;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .article__reviews-list li {
        border: 2px solid #00ff47;
        border-radius: 10px;
        padding: 15px 10px;
    }
}

.article__ava {
    width: 110px;
    height: 110px;
    margin-right: 20px;
    display: inline-block;
}

@media (max-width: 767px) {
    .article__ava {
        display: block;
        margin: 0 auto;
    }
}

.article__reviews-text {
    border: 2px solid #00ff47;
    border-radius: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #ffffff;
    display: inline-block;
    width: calc(100% - 150px);
    vertical-align: top;
    padding: 20px;
}

@media (max-width: 767px) {
    .article__reviews-text {
        border: none;
        width: 100%;
        padding: 0;
        font-size: 18px;
        line-height: 28px;
    }
}

.article__reviews-text span {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #00ff47;
    display: block;
}

@media (max-width: 767px) {
    .article__reviews-text span {
        font-size: 18px;
        line-height: 28px;
    }
}

.article__fact-wrapper {
    font-size: 0;
    display: table;
    width: 100%;
    background: #474646;
    margin-bottom: 25px;
}

@media (max-width: 991px) {
    .article__fact-wrapper {
        display: block;
        padding: 5px;
    }
}

.article__fact-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    height: 300px;
    padding: 20px 50px;
}

@media (max-width: 991px) {
    .article__fact-text {
        display: block;
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 18px;
        line-height: 28px;
    }
}

.article__fact-img {
    background: url("./img/Image5.jpg") no-repeat right center/cover;
    display: table-cell;
    width: 50%;
}

@media (max-width: 991px) {
    .article__fact-img {
        display: block;
        width: 100%;
        height: 350px;
    }
}

@media (max-width: 767px) {
    .article__fact-img {
        height: 250px;
    }
}

.article__img-wrapper {
    font-size: 0;
    margin-bottom: 25px;
}

.article__img-column {
    width: 50%;
    display: inline-block;
}

@media (max-width: 767px) {
    .article__img-column {
        display: block;
        width: 100%;
    }
}

.article__img-column img {
    width: 100%;
}

.article__list {
    counter-reset: number;
    margin-bottom: 35px;
}

.article__list li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .article__list li {
        padding-left: 50px;
        margin-bottom: 15px;
    }
}

.article__list li::before {
    counter-increment: number;
    position: absolute;
    content: counter(number);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: #00ff47;
    border-radius: 50%;
    font-weight: 500;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    color: #212121;
}

@media (max-width: 991px) {
    .article__list li::before {
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
        top: 5px;
        transform: none;
    }
}

.article__info-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    border: 2px solid #00ff47;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .article__info-text {
        font-size: 18px;
        line-height: 28px;
        padding: 10px;
    }
}

.article__product-block {
    font-size: 0;
    display: table;
    width: 100%;
    background: #474646;
}

@media (max-width: 767px) {
    .article__product-block {
        display: block;
    }
}

.article__img {
    display: table-cell;
    width: 50%;
    background: url("./img/Gif3.gif") no-repeat center/cover;
}

@media (max-width: 767px) {
    .article__img {
        display: block;
        width: 100%;
        height: 350px;
    }
}

.article__product-wrapper {
    display: table-cell;
    width: 50%;
    padding: 20px 30px;
    vertical-align: top;
}

@media (max-width: 767px) {
    .article__product-wrapper {
        display: block;
        width: 100%;
        margin-top: -130px;
    }
}

.article__product-wrapper img {
    width: 200px;
    margin: 0 auto;
}

</style><style>.ac_footer {
    position: relative;
    top: 10px;
    height: 0;
    text-align: center;
    margin-bottom: 70px;
    color: #a12000;
}

.ac_footer p {
    text-align: center;
}

</style><style>.err2 {
    display: none;
}

.error-box {
    color: #fff;
    background-color: #DE5042;
    border-radius: 5px;
    text-align: center;
    width: 95%;
    font-size: 13px;
    line-height: 20px;
    z-index: 100;
    margin: 0 auto 0;
}

.error-box {
    color: #fff;
    background-color: #DE5042;
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
    line-height: 35px;
    margin: 5px!important;
    z-index: 100;
}

input:invalid {
    box-shadow: none;
}

@media (min-width: 769px) {
    .error-box {
        font-size: 13px;
        line-height: 16px;
    }
}

.submit-roulette:hover {
    background: #bb0000;
    transition: background 0.3s;
}

.submit-roulette:active {
    transform: translateY(2px);
    box-shadow: none;
}

.submit-roulette {
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 15px 0;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 3px #242120;
    background: red;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.input-roulette {
    padding-left: 5px;
    height: 42px;
    margin-bottom: 10px;
    width: 300px!important;
}