@media only screen and (min-width:992px) {
    .ttu-D {
        text-transform: uppercase
    }
    .ttu-M {
        text-transform: none
    }
    .regular-D {
        font-weight: 400
    }
    .regular-M {
        font-weight: inherit
    }
    .medium-D {
        font-weight: 500
    }
    .medium-M {
        font-weight: inherit
    }
    .bold-D {
        font-weight: 700
    }
    .bold-M {
        font-weight: inherit
    }
    .italic-D {
        font-style: italic
    }
    .italic-M {
        font-style: normal
    }
    .color-base-D {
        color: #ffaa07
    }
    .color-base-M {
        color: inherit
    }
    .color-ex-D {
        color: #ff3911
    }
    .color-ex-M {
        color: inherit
    }
    .font-base-D {
        font-family: "PT Sans", sans-serif
    }
    .font-base-M {
        font-family: inherit
    }
    .font-ex-D {
        font-family: "Bebas Neue", sans-serif
    }
    .font-ex-M {
        font-family: inherit
    }
    .only-desktop {
        display: block
    }
    .only-mobile {
        display: none
    }
    .dis-i-D {
        display: inline
    }
    .dis-i-M {
        display: inherit
    }
    .dis-i-block-D {
        display: inline-block
    }
    .dis-i-block-M {
        display: inherit
    }
    .dis-block-D {
        display: block
    }
    .dis-block-M {
        display: inherit
    }
    .dis-table-D {
        display: table
    }
    .dis-table-M {
        display: inherit
    }
    .dis-table-cell-D {
        display: table-cell
    }
    .dis-table-cell-M {
        display: inherit
    }
    .dis-table-caption-D {
        display: table-caption
    }
    .dis-table-caption-M {
        display: block
    }
    .gutter-D {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .gutter-M {
        margin-top: 0;
        margin-bottom: 0
    }
    .gutter-top-D {
        margin-top: 20px
    }
    .gutter-top-M {
        margin-top: 0
    }
    .gutter-bottom-D {
        margin-bottom: 20px
    }
    .gutter-bottom-M {
        margin-bottom: 0
    }
    .gutter-right-D {
        margin-right: 20px
    }
    .gutter-right-M {
        margin-right: 0
    }
    .gutter-left-D {
        margin-left: 20px
    }
    .gutter-left-M {
        margin-left: 0
    }
    .center-D {
        margin: 0 auto
    }
    .center-M {
        margin: 0
    }
    .center-t-D {
        text-align: center
    }
    .center-t-M {
        text-align: left
    }
    .float-left-D {
        float: right;
        margin: 6px 10px 10px 0
    }
    .float-left-M {
        float: none;
        margin-bottom: 0;
        margin-right: 0
    }
    .float-right-D {
        float: right;
        margin: 6px 0 10px 10px
    }
    .float-right-M {
        float: none;
        margin: 0
    }
    .grid-D {
        display: table;
        table-layout: fixed;
        width: 100%
    }
    .grid-M {
        display: inherit;
        table-layout: auto;
        width: auto
    }
    .part-D {
        display: table-cell;
        vertical-align: top
    }
    .part-M {
        display: inherit;
        vertical-align: baseline
    }
    body,
    html {
        font-family: "PT Sans", sans-serif;
        min-width: 975px
    }
    .container {
        max-width: 980px
    }
    .dye-1 {
        width: 397px;
        height: 63px;
        background-image: url(img/desktop/dye-1.png)
    }
    .dye-2 {
        width: 539px;
        height: 37px;
        background-image: url(img/desktop/dye-2.png)
    }
    .dye-3 {
        width: 523px;
        height: 73px;
        background-image: url(img/desktop/dye-3.png)
    }
    .dye-4 {
        width: 867px;
        height: 93px;
        background-image: url(img/desktop/dye-4.png)
    }
    .dye-5 {
        width: 232px;
        height: 69px;
        background-image: url(img/desktop/dye-5.png)
    }
    .dye-6 {
        width: 382px;
        height: 100px;
        background-image: url(img/desktop/dye-6.png)
    }
    .photo-9 {
        background-image: url(img/desktop/photo-9.jpg);
        width: 237px;
        height: 331px
    }
    .photo-10 {
        background-image: url(img/desktop/photo-10.jpg);
        width: 224px;
        height: 318px
    }
    .photo-11 {
        background-image: url(img/desktop/photo-11.jpg);
        width: 419px;
        height: 324px
    }
    .photo-12 {
        background-image: url(img/desktop/photo-12.jpg);
        width: 228px;
        height: 326px
    }
    .button {
        font-size: 52px
    }
    .title {
        font-size: 60px
    }
    .title--xs {
        font-size: 24px
    }
    .title--s {
        font-size: 36px
    }
    .title--m {
        font-size: 76px
    }
    .title--l {
        font-size: 89px
    }
    .logo {
        font-size: 35px
    }
    .price__new {
        font-size: 40px
    }
    .list--skills {
        font-size: 20px
    }
    .keep--comp {
        max-width: 430px;
        text-align: left
    }
    .keep--comp .keep__part:first-of-type {
        width: 118px
    }
    .keep--comp .keep__part:last-of-type {
        padding-left: 15px
    }
    .keep .title--line:after {
        margin-left: 0;
        margin-right: 0
    }
    .form {
        display: inline-block;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%
    }
    .form .button {
        font-size: 50px
    }
    .result {
        width: 100%;
        margin: 0;
        font-size: 24px;
        padding: 3px 10px
    }
    .result__big-text {
        font-size: 28px
    }
    .coin {
        width: 90px;
        height: 90px
    }
    .coin-1 {
        background-image: url(img/desktop/coin-1.png)
    }
    .coin-2 {
        background-image: url(img/desktop/coin-2.png)
    }
    .label {
        width: 134px;
        height: 133px;
        background-image: url(img/desktop/label.png);
        font-size: 21px;
        font-family: "Bebas Neue", sans-serif;
        line-height: 1
    }
    .label__text {
        left: -3px;
        top: 38px;
        font-size: 22px;
        padding: 0 30px
    }
    .prod .coins {
        right: 50px
    }
    .prod--small {
        max-width: 100%
    }
    .prod--small .label {
        top: -39px;
        right: 8px
    }
    .prod--small .coins {
        right: 50px
    }
    .prod--small .coin {
        width: 90px;
        height: 90px
    }
    .change {
        padding-bottom: 30px
    }
    .change .round__inner {
        width: 180px;
        height: 180px
    }
    .change__round-1 {
        margin-right: -40px
    }
    .change__round-2 {
        margin-left: -40px
    }
    .change__text {
        font-size: 22px
    }
    .change__text-after {
        right: 80px
    }
    .box {
        width: 100%;
        font-size: 21px
    }
    .box__inner {
        min-height: 220px;
        overflow: hidden
    }
    .box__before {
        width: 200px;
        height: 200px;
        background-image: url(img/desktop/cutaway-1.png)
    }
    .box__after {
        width: 200px;
        height: 200px;
        margin-top: -4px;
        background-image: url(img/desktop/cutaway-2.png)
    }
    .review {
        text-align: left;
        font-size: 20px
    }
    .review__part:first-of-type {
        width: 340px;
        padding-left: 40px
    }
    .review__part:last-of-type {
        padding-top: 30px;
        padding-left: 20px
    }
    .review__content {
        padding: 0
    }
    .bx-controls-direction {
        display: block
    }
    .bx-next,
    .bx-prev {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: 10px;
        width: 28px;
        height: 54px;
        background: no-repeat center/contain;
        background-image: url(img/desktop/slider-arrow.png);
        font-size: 0
    }
    .bx-prev {
        left: 0
    }
    .bx-next {
        right: 0;
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg)
    }
    .collage {
        min-height: 424px
    }
    .collage__photo {
        display: none
    }
    .collage__photo-1 {
        display: block
    }
    .collage__photo-2 {
        display: block;
        left: 208px;
        top: -20px
    }
    .collage__photo-3 {
        display: block;
        top: 0;
        left: 400px;
        -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        transform: rotate(1deg)
    }
    .collage__photo-4 {
        display: block;
        right: 0;
        left: auto;
        top: 0
    }
    .arrow {
        width: 107px;
        height: 59px;
        background: no-repeat center/contain;
        background-image: url(img/desktop/arrow.png)
    }
    .arrow--reverse {
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1)
    }
    .section-man {
        position: relative;
        opacity: .99
    }
    .section-man:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .6);
        z-index: -2
    }
    .section-man .container:after {
        content: '';
        display: block;
        width: 1137px;
        height: 763px;
        background: no-repeat center/contain;
        background-image: url(img/desktop/man.jpg);
        position: absolute;
        top: 0;
        left: auto;
        bottom: auto;
        right: -527px;
        z-index: -2
    }
    .header {
        text-align: left;
        background: no-repeat center/cover;
        background-image: url(img/desktop/bg.jpg);
        position: relative
    }
    .header .container {
        padding-top: 30px;
        padding-bottom: 40px
    }
    .header__logo {
        margin-bottom: 0
    }
    .header__inner {
        max-width: 665px
    }
    .header__top-grid {
        white-space: nowrap;
        margin-bottom: 20px;
        max-width: 500px
    }
    .header__top-part {
        display: inline-block;
        vertical-align: top;
        white-space: normal
    }
    .header__top-part:last-of-type {
        padding-top: 7px;
        margin-left: 20px
    }
    .header__title {
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 0
    }
    .header__price {
        position: relative
    }
    .header__price:after {
        content: '';
        display: block;
        position: absolute;
        width: 107px;
        height: 59px;
        background: no-repeat center/contain;
        background-image: url(img/desktop/arrow.png);
        bottom: -97px;
        left: 110px
    }
    .header__promo {
        text-align: right;
        margin-bottom: 30px
    }
    .header__title-big {
        text-align: left
    }
    .header__part:first-of-type {
        width: 300px
    }
    .s-change {
        font-size: 20px;
        text-align: center
    }
    .s-change .container {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .s-change__painting {
        margin-top: 5px
    }
    .s-change__painting .dye {
        margin-top: 2px
    }
    .s-change__arrow {
        width: 107px;
        height: 59px;
        background: no-repeat center/contain;
        background-image: url(img/desktop/arrow.png)
    }
    .s-change__part:first-of-type {
        width: 300px
    }
    .s-change__button-wrap {
        position: relative
    }
    .s-change__button-wrap .s-change__arrow {
        position: absolute;
        bottom: 20px;
        left: 0;
        -webkit-transform: scaleX(-1) rotate(-9deg);
        -ms-transform: scaleX(-1) rotate(-9deg);
        transform: scaleX(-1) rotate(-9deg)
    }
    .s-change .button {
        margin: 0 auto
    }
    .s-change .prod {
        display: inline-block
    }
    .s-rise .container:before,
    .s-rise:before {
        content: '';
        display: block;
        width: 1007px;
        height: 795px;
        background: no-repeat center/contain;
        background-image: url(img/desktop/para-2.jpg);
        bottom: 0;
        top: auto;
        left: -400px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        position: absolute;
        z-index: -1
    }
    .s-rise {
        background: no-repeat center/cover;
        background-image: url(img/desktop/bg-3.jpg);
        position: relative
    }
    .s-rise:before {
        display: none
    }
    .s-rise:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-color: rgba(0, 0, 0, .7)
    }
    .s-rise .container {
        padding-top: 120px;
        padding-bottom: 40px
    }
    .s-rise__inner {
        padding-left: 400px
    }
    .s-rise .title {
        margin-bottom: 100px
    }
    .s-rise .title__bottom .dye {
        margin-top: 6px
    }
    .s-rise__content {
        text-align: left;
        font-size: 20px
    }
    .s-rise__grid {
        direction: rtl
    }
    .s-rise__part {
        direction: ltr
    }
    .s-rise__part:first-of-type {
        vertical-align: bottom;
        width: 232px;
        text-align: right
    }
    .s-rise__part:last-of-type {
        padding-right: 10px
    }
    .s-rise__big-text {
        font-size: 26px;
        color: #ffaa07;
        text-transform: uppercase;
        font-weight: 700
    }
    .s-const {
        position: relative;
        z-index: 2
    }
    .s-const .container {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .s-const__row {
        position: relative;
        margin-bottom: 20px
    }
    .s-const__row:last-of-type {
        margin-bottom: 0
    }
    .s-const .prod {
        position: absolute;
        left: 50%;
        bottom: -50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-left: -5px
    }
    .s-const__title {
        margin-bottom: 50px;
        position: relative;
        font-size: 42px;
        color: #000
    }
    .s-const__title .dye {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1
    }
    .s-const__part {
        border: 0 transparent solid;
        background-clip: padding-box
    }
    .s-const__part:first-of-type {
        border-right-width: 250px
    }
    .s-const__part:last-of-type {
        border-left-width: 250px
    }
    .s-rolling .container:before,
    .s-rolling:before {
        content: '';
        display: block;
        width: 716px;
        height: 1138px;
        background: no-repeat center/contain;
        background-image: url(img/desktop/para.png);
        position: absolute;
        top: -30px;
        right: -580px;
        z-index: -1
    }
    .s-rolling {
        position: relative;
        background: no-repeat center/cover;
        background-image: url(img/desktop/bg-2.jpg)
    }
    .s-rolling:before {
        display: none
    }
    .s-rolling .container {
        padding-top: 40px;
        padding-bottom: 40px;
        position: relative
    }
    .s-rolling__top {
        margin-bottom: 40px
    }
    .s-rolling__paint .dye {
        margin-top: 5px
    }
    .s-rolling .steps {
        max-width: 740px;
        width: 100%;
        display: inline-block
    }
    .s-rolling .step {
        margin-bottom: 30px
    }
    .s-rolling .step:last-of-type {
        margin-bottom: 0
    }
    .s-rolling .step__part:last-of-type {
        text-align: right
    }
    .s-rolling .step:nth-of-type(even) {
        direction: rtl
    }
    .s-rolling .step:nth-of-type(even) .step__part {
        direction: ltr
    }
    .s-rolling .step:nth-of-type(even) .step__part:last-of-type {
        text-align: left
    }
    .s-review .contaienr {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .s-review__title {
        margin-bottom: 60px
    }
    .s-review__inner {
        padding: 0 30px
    }
    .s-frames .container {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .s-frames__title {
        margin-bottom: 80px
    }
    .s-frames__title-bottom {
        display: inline-block
    }
    .s-frames__title-bottom .dye {
        margin-top: 4px
    }
    .s-form {
        background: no-repeat center/cover;
        background-image: url(img/desktop/bg.jpg)
    }
    .s-form .container {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .s-form .logo {
        margin-bottom: 0
    }
    .s-form__top-grid {
        white-space: nowrap;
        margin-bottom: 20px;
        max-width: 500px
    }
    .s-form__inner {
        padding-right: 250px
    }
    .s-form__top {
        text-align: left;
        margin-bottom: 30px
    }
    .s-form__top-part {
        display: inline-block;
        vertical-align: top;
        white-space: normal
    }
    .s-form__top-part:first-of-type {
        margin-right: 20px
    }
    .s-form__top-part:last-of-type {
        padding-top: 8px
    }
    .s-form__grid {
        direction: rtl
    }
    .s-form__part {
        direction: ltr
    }
    .s-form__part:last-of-type {
        width: 300px;
        text-align: left
    }
    .s-form .prod .arrow {
        position: absolute;
        bottom: -70px;
        right: 50px
    }
    .only-mobile {
        display: none
    }
    .only-desktop {
        display: block
    }
}

@media only screen and (min-width:2144px) {
    .s-rolling .container:before {
        display: none
    }
    .s-rolling:before {
        display: block;
        right: 3px
    }
}

@media only screen and (min-width:1778px) {
    .s-rise .container:before {
        display: none
    }
    .s-rise:before {
        display: block;
        left: 0
    }
}