.elementor-739 .elementor-element.elementor-element-0493980>.elementor-container {
    max-width: 1600px;
}

.elementor-739 .elementor-element.elementor-element-0493980:not(.elementor-motion-effects-element-type-background),
.elementor-739 .elementor-element.elementor-element-0493980>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../breast_files/Girl-With-Breast-Enlargement-Medicine.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-739 .elementor-element.elementor-element-0493980 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-739 .elementor-element.elementor-element-0493980>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-1fe719c>.elementor-widget-container {
    margin: 0px 0px -48px 0px;
}

.elementor-739 .elementor-element.elementor-element-57707f3 .elementor-heading-title {
    color: rgba(244, 0, 122, 0.75);
    font-family: "Helvetica", Sans-serif;
    font-size: 95px;
    line-height: 1em;
    letter-spacing: -4.8px;
}

.elementor-739 .elementor-element.elementor-element-4dad790 {
    text-align: right;
}

.elementor-739 .elementor-element.elementor-element-4dad790 .elementor-heading-title {
    color: #020202;
    font-family: "Allan", Sans-serif;
    font-size: 59px;
}

.elementor-739 .elementor-element.elementor-element-4dad790>.elementor-widget-container {
    margin: -95px -95px -95px -95px;
    padding: 0px 270px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-2ed955c .elementor-spacer-inner {
    height: 306px;
}

.elementor-739 .elementor-element.elementor-element-15a96018 .elementor-button {
    font-size: 47px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #ff0008;
    border-radius: 50px 50px 50px 50px;
    padding: 15px 50px 15px 50px;
}

.elementor-739 .elementor-element.elementor-element-15a96018 .elementor-button:hover,
.elementor-739 .elementor-element.elementor-element-15a96018 .elementor-button:focus {
    color: #000000;
    background-color: #00deea;
}

.elementor-739 .elementor-element.elementor-element-15a96018 .elementor-button:hover svg,
.elementor-739 .elementor-element.elementor-element-15a96018 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-739 .elementor-element.elementor-element-15a96018>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
}

.elementor-739 .elementor-element.elementor-element-34fe468 .elementor-spacer-inner {
    height: 50px;
}

.elementor-739 .elementor-element.elementor-element-b271d36 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-b271d36 .elementor-heading-title {
    color: #1c0000;
}

.elementor-739 .elementor-element.elementor-element-507bb69 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-739 .elementor-element.elementor-element-507bb69>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-95e0e00 .elementor-image img {
    width: 900%;
    max-width: 100%;
    opacity: 1;
}

.elementor-739 .elementor-element.elementor-element-95e0e00 .elementor-image:hover img {
    opacity: 1;
}

.elementor-739 .elementor-element.elementor-element-75531bf6>.elementor-container {
    max-width: 1140px;
}

.elementor-739 .elementor-element.elementor-element-75531bf6 {
    padding: 50px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-26b1387 .elementor-image img {
    width: 100%;
}

.elementor-739 .elementor-element.elementor-element-3691736b>.elementor-container {
    max-width: 1140px;
    min-height: 200px;
}

.elementor-739 .elementor-element.elementor-element-3691736b>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-739 .elementor-element.elementor-element-3691736b>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-739 .elementor-element.elementor-element-3691736b:not(.elementor-motion-effects-element-type-background),
.elementor-739 .elementor-element.elementor-element-3691736b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #6d22d6;
    background-image: url("../breast_files/ass.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-739 .elementor-element.elementor-element-3691736b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-739 .elementor-element.elementor-element-3691736b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-29a689bd .elementor-heading-title {
    color: #020202;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.elementor-739 .elementor-element.elementor-element-6fc447db .elementor-button {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    border-radius: 8px 8px 8px 8px;
}

.elementor-739 .elementor-element.elementor-element-12f2dde8>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-739 .elementor-element.elementor-element-12f2dde8 {
    padding: 9px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-b6a5696>.elementor-element-populated {
    padding: 0% 10% 0% 0%;
}

.elementor-739 .elementor-element.elementor-element-095ef71 {
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.elementor-739 .elementor-element.elementor-element-1f6a0802 .elementor-heading-title {
    color: #ff0008;
    font-size: 33px;
    font-weight: 900;
    line-height: 1.2em;
}

.elementor-739 .elementor-element.elementor-element-6f90f572 {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-739 .elementor-element.elementor-element-50ed6c31 .elementor-image img {
    width: 100%;
}

.elementor-739 .elementor-element.elementor-element-7b33ad9a:not(.elementor-motion-effects-element-type-background),
.elementor-739 .elementor-element.elementor-element-7b33ad9a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-7b33ad9a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-739 .elementor-element.elementor-element-7b33ad9a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-12da508c {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-12da508c .elementor-heading-title {
    color: #cc12a0;
}

.elementor-739 .elementor-element.elementor-element-760b13d9 {
    margin-top: 60px;
    margin-bottom: 0px;
}

.elementor-739 .elementor-element.elementor-element-52894a0a>.elementor-element-populated {
    margin: 150px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-b85bbc0 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-b85bbc0 .elementor-heading-title {
    color: #cc12a0;
    font-family: "Nunito", Sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.elementor-739 .elementor-element.elementor-element-744da332 .elementor-text-editor {
    text-align: right;
}

.elementor-739 .elementor-element.elementor-element-53e9d66 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-53e9d66 .elementor-heading-title {
    color: #cc12a0;
    font-family: "Nunito", Sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.elementor-739 .elementor-element.elementor-element-29885207 .elementor-text-editor {
    text-align: right;
}

.elementor-739 .elementor-element.elementor-element-a3b57c7 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-a3b57c7 .elementor-heading-title {
    color: #cc12a0;
    font-family: "Nunito", Sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.elementor-739 .elementor-element.elementor-element-56f92661 .elementor-text-editor {
    text-align: right;
}

.elementor-bc-flex-widget .elementor-739 .elementor-element.elementor-element-a1dbb1.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-739 .elementor-element.elementor-element-a1dbb1.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-739 .elementor-element.elementor-element-11474ebb>.elementor-element-populated {
    margin: 150px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-1bbd7892 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-1bbd7892 .elementor-heading-title {
    color: #cc12a0;
    font-family: "Nunito", Sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.elementor-739 .elementor-element.elementor-element-3389618c .elementor-text-editor {
    text-align: left;
}

.elementor-739 .elementor-element.elementor-element-7a80641 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-7a80641 .elementor-heading-title {
    color: #cc12a0;
    font-family: "Nunito", Sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.elementor-739 .elementor-element.elementor-element-28a4d2ab .elementor-text-editor {
    text-align: left;
}

.elementor-739 .elementor-element.elementor-element-d76ad71 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-d76ad71 .elementor-heading-title {
    color: #cc12a0;
    font-family: "Nunito", Sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.elementor-739 .elementor-element.elementor-element-22a027e8 .elementor-text-editor {
    text-align: left;
}

.elementor-739 .elementor-element.elementor-element-1e9c0414>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-739 .elementor-element.elementor-element-69e574e0 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-6ec80d95 .elementor-image img {
    width: 200px;
    filter: brightness( 89%) contrast( 104%) saturate( 105%) blur( 0px) hue-rotate( 0deg);
}

.elementor-739 .elementor-element.elementor-element-55840bd5 .elementor-text-editor {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-55840bd5>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-59a2bdd .elementor-heading-title {
    font-size: 49px;
}

.elementor-739 .elementor-element.elementor-element-d7235be .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #c4358d;
}

.elementor-739 .elementor-element.elementor-element-d7235be .elementor-progress-wrapper {
    background-color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-653a073 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #c4358d;
}

.elementor-739 .elementor-element.elementor-element-653a073 .elementor-progress-wrapper {
    background-color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-27aaf73 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #c4358d;
}

.elementor-739 .elementor-element.elementor-element-27aaf73 .elementor-progress-wrapper {
    background-color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-5dbc823 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #c4358d;
}

.elementor-739 .elementor-element.elementor-element-5dbc823 .elementor-progress-wrapper {
    background-color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-d6f6fca .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #c4358d;
}

.elementor-739 .elementor-element.elementor-element-d6f6fca .elementor-progress-wrapper {
    background-color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-bf250b6 .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #c4358d;
}

.elementor-739 .elementor-element.elementor-element-bf250b6 .elementor-progress-wrapper {
    background-color: #ffffff;
}

.elementor-739 .elementor-element.elementor-element-54689281>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-739 .elementor-element.elementor-element-54689281:not(.elementor-motion-effects-element-type-background),
.elementor-739 .elementor-element.elementor-element-54689281>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #9298ce;
    background-image: url("../breast_files/breast-enhancement-supplements.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.elementor-739 .elementor-element.elementor-element-54689281 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-739 .elementor-element.elementor-element-54689281>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-598587a7 {
    text-align: center;
}

.elementor-739 .elementor-element.elementor-element-598587a7 .elementor-heading-title {
    color: #000000;
    font-size: 65px;
    font-weight: 600;
}

.elementor-739 .elementor-element.elementor-element-231200ca {
    padding: 35px 0px 0px 0px;
}

.elementor-739 .elementor-element.elementor-element-e706544>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #686868;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 16px 0px 0px;
    padding: 35px 35px 35px 35px;
}

.elementor-739 .elementor-element.elementor-element-e706544>.elementor-element-populated,
.elementor-739 .elementor-element.elementor-element-e706544>.elementor-element-populated>.elementor-background-overlay,
.elementor-739 .elementor-element.elementor-element-e706544>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-739 .elementor-element.elementor-element-e706544>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-5551aa62 .elementor-testimonial-content {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-739 .elementor-element.elementor-element-5551aa62 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-739 .elementor-element.elementor-element-5551aa62 .elementor-testimonial-name {
    color: #ffffff;
    font-size: 20px;
}

.elementor-739 .elementor-element.elementor-element-5551aa62 .elementor-testimonial-job {
    color: #686868;
    font-size: 15px;
    font-weight: 300;
}

.elementor-739 .elementor-element.elementor-element-4ec1e234>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #686868;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 8px 0px 8px;
    padding: 35px 35px 35px 35px;
}

.elementor-739 .elementor-element.elementor-element-4ec1e234>.elementor-element-populated,
.elementor-739 .elementor-element.elementor-element-4ec1e234>.elementor-element-populated>.elementor-background-overlay,
.elementor-739 .elementor-element.elementor-element-4ec1e234>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-739 .elementor-element.elementor-element-4ec1e234>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-48bca29c .elementor-testimonial-content {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-739 .elementor-element.elementor-element-48bca29c .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-739 .elementor-element.elementor-element-48bca29c .elementor-testimonial-name {
    color: #ffffff;
    font-size: 20px;
}

.elementor-739 .elementor-element.elementor-element-48bca29c .elementor-testimonial-job {
    color: #686868;
    font-size: 15px;
    font-weight: 300;
}

.elementor-739 .elementor-element.elementor-element-dc58f31>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #686868;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 16px;
    padding: 35px 35px 35px 35px;
}

.elementor-739 .elementor-element.elementor-element-dc58f31>.elementor-element-populated,
.elementor-739 .elementor-element.elementor-element-dc58f31>.elementor-element-populated>.elementor-background-overlay,
.elementor-739 .elementor-element.elementor-element-dc58f31>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-739 .elementor-element.elementor-element-dc58f31>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-739 .elementor-element.elementor-element-1c984b2 .elementor-testimonial-content {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-739 .elementor-element.elementor-element-1c984b2 .elementor-testimonial-wrapper .elementor-testimonial-image img {
    width: 55px;
    height: 55px;
}

.elementor-739 .elementor-element.elementor-element-1c984b2 .elementor-testimonial-name {
    color: #ffffff;
    font-size: 20px;
}

.elementor-739 .elementor-element.elementor-element-1c984b2 .elementor-testimonial-job {
    color: #686868;
    font-size: 15px;
    font-weight: 300;
}

@media(max-width:1024px) {
    .elementor-739 .elementor-element.elementor-element-75531bf6 {
        padding: 80px 20px 20px 20px;
    }
    .elementor-739 .elementor-element.elementor-element-63cb758a>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-372263b7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-5fe1f869>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-3691736b {
        padding: 10px 30px 10px 30px;
    }
    .elementor-739 .elementor-element.elementor-element-29a689bd .elementor-heading-title {
        font-size: 40px;
        line-height: 1.2em;
    }
    .elementor-739 .elementor-element.elementor-element-6fc447db .elementor-button {
        font-size: 18px;
    }
    .elementor-739 .elementor-element.elementor-element-12f2dde8 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-739 .elementor-element.elementor-element-1f6a0802 .elementor-heading-title {
        font-size: 35px;
    }
    .elementor-739 .elementor-element.elementor-element-6f4d9ba3>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-52894a0a>.elementor-element-populated {
        margin: 0px 0px 0px 15px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-a1dbb1>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-69e80ae3 {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-69e80ae3>.elementor-widget-container {
        margin: 50px 50px 50px 50px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-11474ebb>.elementor-element-populated {
        margin: 0px 15px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-6ec80d95 .elementor-image img {
        width: 200px;
    }
    .elementor-739 .elementor-element.elementor-element-54689281 {
        padding: 100px 25px 100px 25px;
    }
    .elementor-739 .elementor-element.elementor-element-598587a7 .elementor-heading-title {
        font-size: 45px;
    }
    .elementor-739 .elementor-element.elementor-element-231200ca {
        padding: 15px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-e706544>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-739 .elementor-element.elementor-element-5551aa62 .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-739 .elementor-element.elementor-element-4ec1e234>.elementor-element-populated {
        margin: 0px 5px 0px 5px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-739 .elementor-element.elementor-element-48bca29c .elementor-testimonial-name {
        font-size: 18px;
    }
    .elementor-739 .elementor-element.elementor-element-dc58f31>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-739 .elementor-element.elementor-element-1c984b2 .elementor-testimonial-name {
        font-size: 18px;
    }
}

@media(max-width:767px) {
    .elementor-739 .elementor-element.elementor-element-3691736b {
        padding: 20px 20px 20px 20px;
    }
    .elementor-739 .elementor-element.elementor-element-29a689bd {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-29a689bd .elementor-heading-title {
        font-size: 33px;
    }
    .elementor-739 .elementor-element.elementor-element-29a689bd>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-12f2dde8 {
        padding: 50px 20px 50px 20px;
    }
    .elementor-739 .elementor-element.elementor-element-b6a5696>.elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-12da508c>.elementor-widget-container {
        padding: 5px 5px 5px 5px;
    }
    .elementor-739 .elementor-element.elementor-element-52894a0a>.elementor-element-populated {
        margin: 0px 20px 0px 20px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-b85bbc0 {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-744da332 .elementor-text-editor {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-744da332>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-53e9d66 {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-29885207 .elementor-text-editor {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-29885207>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-a3b57c7 {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-56f92661 .elementor-text-editor {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-a1dbb1>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-11474ebb>.elementor-element-populated {
        margin: 0px 20px 0px 20px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-1bbd7892 {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-3389618c .elementor-text-editor {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-7a80641 {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-28a4d2ab .elementor-text-editor {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-d76ad71 {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-22a027e8 .elementor-text-editor {
        text-align: center;
    }
    .elementor-739 .elementor-element.elementor-element-12c1fab2>.elementor-element-populated {
        padding: 0px 20px 0px 20px;
    }
    .elementor-739 .elementor-element.elementor-element-6ec80d95 .elementor-image img {
        width: 100px;
    }
    .elementor-739 .elementor-element.elementor-element-54689281 {
        padding: 50px 20px 50px 20px;
    }
    .elementor-739 .elementor-element.elementor-element-e706544>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-4ec1e234>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
    }
    .elementor-739 .elementor-element.elementor-element-dc58f31>.elementor-element-populated {
        margin: 25px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-739 .elementor-element.elementor-element-52894a0a {
        width: 23.675%;
    }
    .elementor-739 .elementor-element.elementor-element-a1dbb1 {
        width: 52.65%;
    }
    .elementor-739 .elementor-element.elementor-element-11474ebb {
        width: 23.671%;
    }
    .elementor-739 .elementor-element.elementor-element-d34f31d {
        width: 14.98%;
    }
    .elementor-739 .elementor-element.elementor-element-524ebb5 {
        width: 70.04%;
    }
    .elementor-739 .elementor-element.elementor-element-7aaae78 {
        width: 14.98%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-739 .elementor-element.elementor-element-12c1fab2 {
        width: 70%;
    }
}

@media(min-width:1025px) {
    .elementor-739 .elementor-element.elementor-element-3691736b:not(.elementor-motion-effects-element-type-background),
    .elementor-739 .elementor-element.elementor-element-3691736b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}