@media only screen and (max-width: 600px) {
  div.company-logo{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
  }
  .logo img{
    margin-top: 0px;
  }
  footer .disclaimer{
    font-size: 14px;
  }
}