:root {
  --golden: #bd9238;
  --golden_light: #e3c251;
  --golden_dark: #977712;
  --black: #1d1d1d;
  --white: #ffffff;
}
/*@font-face {
  font-family: "Arya";
  src: url('https://fonts.googleapis.com/css2?family=Arya:wght@700&display=swap');
}*/

body{
	/*font-family: Roboto, sans-serif;*/
	/*font-family: 'Martel Sans', sans-serif;*/
	font-family: 'Arya', sans-serif;
	font-weight: 700;
}
html{
	scroll-behavior: smooth;
}
span{
	font-family: 'Racing Sans One', cursive;
}
p{
	line-height: 120%;
}
input.form-control, select.form-control{
	height: 60px;
	font-size: 18px;
	border: 4px var(--golden_light) solid;
	border-radius: 10px;
	font-weight: 600;
	color: var(--black);
}
input.form-control:focus{
	border: 4px var(--golden) solid;
}
@keyframes example {
   0%   {background-color:var(--golden_dark);}
  	50% {background-color:var(--golden); color: var(--golden);}
    100%   {background-color:var(--golden_dark);}

}
@keyframes examplescale {
   0%   {color:var(--golden_dark);}

  50% {color:var(--golden); }
}
a.button-header{
	text-decoration: none;
	background: var(--golden_dark);
	border: 5px var(--white) solid;
	color: var(--white);
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin-top: -5px;
	position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

a.button-primary{
	position: relative;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	padding: 5px 60px 5px 60px;
	height: 60px;
	border:  3px var(--black) solid;
	border-radius: 20px;
	background-image: radial-gradient(var(--black) 50%, var(--golden));
	text-transform: uppercase;
	color: var(--white);
  position: relative;
  animation-name: examplescale;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}
a.button-primary:hover,a.button-primary:active{
	background-image: radial-gradient(var(--black) 50%, var(--golden_light));
}
button.button-primary{
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	width:  70%;
	height: 60px;
	border:  3px var(--black) solid;
	border-radius: 20px;
	background-image: radial-gradient(var(--black) 50%, var(--golden));
	text-transform: uppercase;
	color: var(--white);
}
button.button-primary:hover,button.button-primary:active{
	background-image: radial-gradient(var(--black) 50%, var(--golden_light));
}


div.company-logo{
	position: absolute;
	top: 5px;
	left: 100px;
	width: 150px;
}

ul.header-ul{
	list-style: none;
	margin-top: 40px;
	margin-bottom: 40px;
}
ul.header-ul li{
	margin-top: 10px;
}
.header-images{
	position: relative;
}

.header-img1{
	position: absolute;
	overflow: hidden;
	width: 50%;
	border: 3px var(--golden) solid;
	border-radius: 15px;
}
.header-img2{
	position: absolute;
	overflow: hidden;
	z-index: 1;
	width: 60%;
	top: 10%;
	left: 40%;
	border: 3px var(--golden) solid;
	border-radius: 15px;
}
.header-img3{
	position: absolute;
	overflow: hidden;
	top: 35%;
	width: 100%;
	border: 3px var(--golden) solid;
	border-radius: 15px;
}
.header-img{
	position: relative;
	overflow: hidden;
	padding-top: 120%;
	width: 100%;
}

.section-title{
	position: relative;
	border: 3px var(--white) solid;
	display: inline;
	border-radius: 40px;
	padding: 0 40px 0 40px;
}

.product-image{
	position: relative;
}
.product-image .price{
	background: var(--golden);
	border: 4px var(--white) solid;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	text-align: center;
}













.img-wrap-black{
	overflow: hidden;
	width: 100%;
	position: relative;
	border: 5px var(--black) solid;
	border-radius: 50%;
}
.img-wrap-golden{
	overflow: hidden;
	width: 100%;
	position: relative;
	border: 5px var(--golden) solid;
	border-radius: 50%;
}
.img-wrap-testimony{
	overflow: hidden;
	width: 50%;
	position: relative;
	margin-left: 25%;
	border: 5px var(--black) solid;
	border-radius: 50%;
}

.testimonial{
	position: relative;
}
.testimonial-name{
	position: relative;
	text-align: center;
	color: white;
	margin-top: -20px;
	margin-left: 25%;
	padding-top: 5px;
	height: 40px;
	width: 50%;
	background: var(--golden_dark);
	border: 3px var(--white) solid;
	border-radius: 20px;
}
.testimonial-text{
	background: var(--black);
	padding: 10px;
	width: 100%;
	padding-top: 50px;
	margin-top: -40px;
	border: 3px var(--white) solid;
	border-radius: 10px;
}
a.footer-contact{
	color: white;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}
a.footer-contact span{
	color: var(--golden_light);
	font-weight: bold;
	font-size: 25px;
}
footer .copyright-text{
	font-size: 14px;
	font-weight: 700;
}
footer .footer-link{
	font-size: 18px;
	font-weight: 750;
}
footer .footer-link a{
	color: var(--black);
	text-decoration: none;
}
footer .footer-link a:hover{
	color: var(--golden_dark);
}
footer .disclaimer{
	font-weight: 550;
	color: var(--black);
	font-size: 18px;
}
.bg-golden{
	background-image: linear-gradient(to top, var(--golden_dark) , var(--golden));
}
.bg-black{
	background-image: linear-gradient(to top, var(--black) , var(--black));
}
a.float{
	text-decoration: none;
}
a.float: hover{
	color: white;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
.txt-dark{
	color: var(--black);
}
.txt-golden{
	color: var(--golden_light);
}
.w-50{
	width: 50%;
}