* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.timer{
  color: #f72036;
}
.spin_btn {
  text-decoration: none;
  color: #FFF;
  background: #F72036;
  display: block;
  padding: 5px 0;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  border-radius: 8px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}
.spin_btn:hover {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}
body {
  background: #000000;
  color: #ffffff;
  font-family: 'Hind Siliguri', sans-serif;
  background-image: url(//viposidn.com/content/KmPUsOpxlcPGAA1/img/bg.jpg);
}
a {
  color: #FFAE00;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 500px;
}
.content {
  border: 3px solid #ffffff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  max-width: 670px;
  margin: 0 auto;
}
.header {
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 45px 4px rgba(5, 5, 5, 0.8);
          box-shadow: 0px 0px 45px 4px rgba(5, 5, 5, 0.8);
  margin-bottom: 10px;
}
.logo {
  text-align: center;
  padding: 40px 0;
  max-width: 670px;
  margin: auto;
}
.logo span {
  display: inline-block;
  vertical-align: middle;
  color: transparent;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
  background-image: url(//viposidn.com/content/KmPUsOpxlcPGAA1/img/logo-bg.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  text-transform: uppercase;
}

.logo span:after {
  content: url('//viposidn.com/content/KmPUsOpxlcPGAA1/img/logo.png');
  display: inline-block;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
       transform: rotate(-15deg);
  position: absolute;
  right: -130px;
  top: 5px;
}
.post {
  padding: 15px;
  font-size: 17px;
  margin-bottom: 20px;
}
.post__header {
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  padding-top: 23px;
  display: table;
  width: 100%;
}
.post__header h1 {
  display: table-cell;
  font-size: 48px;
  line-height: 1;
}
.info {
  display: table-cell;
  text-align: right;
  line-height: 1;
  font-weight: 700;
}
.info__item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}
.info__item_center {
  position: relative;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 0 7px;
  padding-left: 24px;
}
.info__item_center:before {
  content: url('//viposidn.com/content/KmPUsOpxlcPGAA1/img/views.jpg');
  display: inline-block;
  position: absolute;
  top: 0;
  left: 6px;
}
.post__sub-title {
  font-size: 16px;
  color: #FFAE00;
  font-weight: 700;
}
.post__sub-title-text {
  padding: 15px;
}
.post__img-wrap {
  font-size: 0;
  text-align: center;
  margin-bottom: 10px;
}
.post__img_100 {
  width: 100%;
}
.post__text {
  margin-bottom: 15px;
}
.post__text-head {
  color: #FFAE00;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
}
.post__text-list {
  padding-left: 60px;
  margin-bottom: 15px;
}
.post__text-list-item {
  margin-bottom: 10px;
  padding-left: 15px;
}
.prod-wrap {
  background-color: #ffffff;
  display: table;
  width: 100%;
  padding: 15px;
  color: #000000;
}
.prod__img-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.prod__desc {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.prod__desc-title {
  font-weight: 700;
  font-size: 26px;
}
.prod__desc-name {
  color: #284ebc;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}
.prod__desc-mark-wrap img{
  max-width: 85px;
  margin: auto;
}
.btn {
  font-size: 34px;
  margin: 10px auto;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  background: #ff6000;
  -webkit-box-shadow: inset 0 0 0px 1px #ffffff;
          box-shadow: inset 0 0 0px 1px #ffffff;
  border: 1px solid #ff6000;
  max-width: 230px;
  padding: 10px 10px;
  padding-top: 16px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  line-height: 1;
  text-align: center;
}
.btn:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  color: #ffffff;
}
.comments {
  padding: 0 15px;
}
.comments__head {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  margin-bottom: 20px;
  padding: 10px 10px;
  font-size: 22px;
  font-weight: 700;
}
.comment {
  margin-bottom: 15px;
}
.comment__header {
  width: 100%;
  display: table;
}
.comment__ava {
  display: table-cell;
  vertical-align: top;
  width: 50px;
}
.comment__ava img {
  width: 50px;
}
.comment__info {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.comment__img {
  text-align: center;
  margin-top: 10px;
}
.footer {
  padding: 15px;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  .logo span:after {
    display: none;
  }
  .logo {
    padding: 10px 0;
  }
  .logo span {
    font-size: 40px;
  }
  .post__header {
    display: block;
  }
  .post__header h1 {
    display: block;
    font-size: 30px;
  }
  .info {
    display: none;
  }
  .post__sub-title {
    font-size: 14px;
  }
  .post__text {
    font-size: 14px;
  }
  .post__text-list {
    padding-left: 35px;
    font-size: 14px;
  }
  .prod-wrap {
    display: block;
  }
  .prod__img-wrap {
    display: block;
  }
  .prod__desc {
    display: block;
  }
  .prod__desc-title {
    font-size: 20px;
  }
  .prod__desc-name {
    font-size: 22px;
  }
  .content {
    max-width: 540px;
  }
}