body {
    font: 16px/1.2 "Roboto Condensed", sans-serif;
    margin: 0 auto;
    background: #000;
    color: #fff;
    min-width: 240px;
    max-width: 412px;
    user-select: none
}

.img-responsive {
    border: 0;
    max-width: 60%;
    margin-top: -20px
}

header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic
}

header h2 {
    margin: 0;
    padding-right: .8rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    text-align: right
}

@media (max-width:400px) {
    header h2 {
        font-size: 13px
    }
}

header img:first-child {
    margin: 1rem 0;
    margin-bottom: .5rem
}

.gif-container {
    position: relative;
    font-size: 0
}

.star {
    position: absolute;
    left: .1rem;
    top: -1rem;
    width: 100px
}

.product {
    display: flex
}

.product .left {
    width: 50%;
    padding-bottom: 30px;
    text-align: center
}

.product .right {
    width: 50%
}

.product .discount {
    background-image: linear-gradient(to right, #ff0, #ffeb3b);
    color: red;
    border-radius: 10px;
    transform: skew(-15deg);
    font-size: 3.5rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    width: 85%;
    height: 5rem;
    line-height: 5rem;
    letter-spacing: -3px;
    margin-top: -.3rem
}

.product .discount div {
    transform: skew(15deg)
}

.price {
    color: #1bff26;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1
}

.product .discount-text {
    margin-top: 1rem;
    color: #fff
}

.rose {
    margin: 1.5rem 1.5rem 2rem
}

.rose p {
    line-height: 25px;
    margin: 0;
    margin-bottom: 4px
}

.rose .num {
    background: #d4282c;
    color: #fff;
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-weight: 700;
    text-align: center
}

h2 {
    text-align: center
}

form {
    margin: 2rem 1rem
}

.form-control {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 4px
}

.form-control label {
    display: flex;
    margin: 0 0 0 18px;
    color: #000
}

.name-input,
.phone-input {
    color: #000;
    background: #fff;
    border: 0;
    width: 100%;
    padding: 0 15px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    transition: all .15s ease-in-out;
    -webkit-outline: none!important;
    -moz-outline: none!important;
    -o-outline: none!important;
    outline: 0!important
}

input {
    -webkit-outline: none!important;
    -moz-outline: none!important;
    -o-outline: none!important;
    outline: 0!important
}

.button-submit:focus,
.name-input:focus-within,
.phone-input:focus-within {
    outline: 0;
    box-shadow: 0 0 0 4px #bdab3c
}

.button-submit {
    display: flex;
    box-sizing: border-box!important;
    width: 100%;
    max-width: 310px;
    margin: 1rem auto;
    padding: 0 1rem;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    border-radius: 40px;
    border: 0;
    padding: 14px 0;
    background-image: linear-gradient(to top, #a20b0c, #f11);
    transition: all .15s ease-in-out;
    cursor: pointer
}

.button-submit-text {
    flex: 1 1 auto
}

.button-submit-arrow {
    width: 0;
    height: 0;
    border-top: .6rem solid transparent;
    border-bottom: .6rem solid transparent;
    border-left: 1rem solid #fff;
    margin-right: 1rem
}

.countdown-container {
    border: 5px solid #fffd07;
    text-align: center;
    margin: 2rem 1rem;
    margin-top: 0
}

.countdown-container h3 {
    color: #fffd07;
    margin: 0 auto;
    margin-top: -12px;
    background: #000;
    width: 90%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 3.5rem;
    margin: .6rem 0
}

.countdown-item {
    color: red;
    width: 4rem;
    font-weight: 800;
    margin-right: .5rem
}

.countdown-divider {
    color: red;
    width: 2rem
}

.countdown-text {
    margin: 0 auto;
    margin-bottom: -8px;
    background: #000;
    width: 90%;
    color: #fffd07;
    font-size: .7rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase
}

.countdown-text span {
    width: 4rem;
    margin-right: 1.5rem
}

.countdown-text span:last-child {
    margin-right: 0
}

body {
    font: 16px/1.2 "Roboto Condensed", sans-serif;
    margin: 0 auto;
    background: #000;
    color: #fff;
    min-width: 240px;
    max-width: 412px;
    user-select: none
}

.countdown-container {
    border: 5px solid #fffd07;
    text-align: center;
    margin: 2rem 1rem;
    margin-top: 0
}

.countdown-container h3 {
    color: #fffd07;
    margin: 0 auto;
    margin-top: -12px;
    background: #000;
    width: 90%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem
}

.countdown-text {
    margin: 0 auto;
    margin-bottom: -8px;
    background: #000;
    width: 90%;
    color: #fffd07;
    font-size: .7rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase
}

.countdown-text span {
    width: 4rem;
    margin-right: 1.5rem
}

.countdown-text span:last-child {
    margin-right: 0
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 1;
    background: #000;
    color: #fff
}

.timer {
    font-size: 0;
    max-width: 268px;
    margin: 0 auto
}

.timer__item {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    position: relative
}

.timer__item:not(:last-child):after {
    content: ':';
    position: absolute;
    right: -5px;
    top: 10px;
    font-size: 35px
}

.timer__item div {
    font-size: 60px;
    text-align: center;
    color: #1bff26
}

@media(max-width:360px) {
    .star {
        width: 80px
    }
    .img-responsive {
        margin-top: 0
    }
}

@media(max-width:240px) {
    .img-responsive {
        max-width: 70%
    }
    .product .discount {
        height: 3rem;
        line-height: 3rem
    }
    .timer__item div {
        font-size: 50px
    }
    .product .discount {
        font-size: 2.7rem
    }
    .product .discount-text {
        margin-top: 0
    }
    .star {
        width: 70px
    }
}