@media screen and (max-width: 1199px) {

.logo-title {
	font-size: 30px;
}

.logo__afterword {
	margin-top: -5px;
	font-size: 14px;
}

.cert-stamp img {
	width: 60px;
}

.power-title {
	font-size: 92px;
}

.strong .container:before {
	left: -20px;
}

.plus__list {
	padding-left: 0;
}

.button {
	font-size: 22px;
}

.hero__inner {
	width: 55%;
}

.hero .container:before {
	left: -35px;
}
.hero .container:after {
	display: none;
}

.change .container {
	padding: 30px 15px;
}

.action__list {
	font-size: 18px;
}

.grid-title {
	font-size: 34px;
}

.grid__inner:before {
	margin-left: 0;
}

.afterword {
	font-size: 28px;
}

.health:after {
	display: none;
}

.health__inner {
	padding-left: 20px;
}

.why__inner:after {
	margin-left: 0;
}

.product-name {
	display: none;
}

.effects__list {
	font-size: 18px;
}

.effects:before {
	margin-right: 275px;
}

.effect__inner:after {
	-webkit-background-size: contain;
	background-size: contain;
}

.want {
	background-position: left bottom;
	-webkit-background-size: contain;
	background-size: contain;
}

.want-title {
	font-size: 38px;
}

.want-line__text {
	font-size: 25px;
}

.want-title-wrap:before {
	display: none;
}

.want .container:before {
	width: 390px;
	height: 535px;
	bottom: -6px;
	-webkit-background-size: contain;
	background-size: contain;
}

.brand__horisontal {
	left: 27%;
}

.brand__vertical {
	font-size: 66px;
	top: -250px;
	left: 50%;
}

.natural .container {
	padding: 40px 15px 100px;
}

.natural-title {
	font-size: 38px;
}

.natural-afterword {
	font-size: 20px;
}

.natural__cell__title {
	font-size: 20px;
}

.natural__cell__text {
	font-size: 17px;
}

.get-power .container {
	padding: 20px 15px;
}

.get-power__inner {
	width: 60%;
}

.get-power-title {
	font-size: 36px;
}

.fast-power:before {
	width: 380px;
	height: 490px;
	bottom: -23px;
	margin-right: 20px;
	-webkit-background-size: contain;
	background-size: contain;
}

.fast-power:after {
	display: none;
}

.experience:after {
	display: none;
}

.experience-title__item {
	font-size: 42px;
}

.testing-title {
	font-size: 46px;
}

.testing-name {
	display: none;
}

.specialist:before {
	width: 200px;
	height: 323px;
	margin-right: 100px;
	margin-top: -150px;
}

.specialist-test__inner_modify img {
	width: 65px;
}

.specialist-text, 
.specialist-line__text {
	font-size: 22px;
}

.specialist-text {
	text-shadow: 0 0 6px #fff;
}

.specialist-test__text {
	font-size: 19px;
}

.patent .container {
	padding-top: 60px;
}

.patent__inner {
	vertical-align: middle;
}

.patent-title {
	font-size: 40px;
}

.patent-name {
	display: none;
}

.patent-substance {
	margin-top: 20px;
}

.patent-substance__list {
	font-size: 22px;
}

.reviews .container {
	padding: 50px 0 40px;
}



.live__inner {
	width: 75%;
}

.live .container:before {
	-webkit-background-size: contain;
	background-size: contain;
}

.live-title-wrap {
	width: 100%;
	text-align: center;
}


/*FlipClock costum*/

.flip-clock-wrapper ul {
	width: 30px;
	height: 50px;
}

.flip-clock-wrapper ul li {
	line-height: 53px;
}

.flip-clock-wrapper ul li a div div.inn {
	font-size: 36px;
}

.flip-clock-divider {
	margin-top: 3px;
}


} /*@media 1199px */


@media screen and (max-width: 991px) {

	.logo {
		width: 50%;
	}

	.cert-stamp {
		width: 48%;
	}

	.substance {
		display: none;
	}

	.strong .container:before,
	.strong:before, .live:before {
		display: none;
	}

	.power {
		width: 100%;
		position: relative;
	}

	.power-title {
		padding-left: 0;
		text-align: center;
	}

	.power-title__item {
		margin-left: 0;
	}

	.only-today__inner {
		display: none;
	}

	.only-today:before, 
	.only-today:after {
		display: none;
	}

	.only-today__inner_modify {
		display: block;
		width: 100%;
	}

	.problem,
	.hero {
		display: none;
	}

	.change__inner {
		display: block;
		margin: 0 auto;
		width: 80%;
	}

	.change__inner_modify {
		display: none;
	}

	.grid-title-wap {
		display: block;
	}

	.grid-title {
		text-align: center;
	}

	.health .container {
		padding: 50px 15px;
	}

	.health__inner {
		width: 100%;
		text-align: center;
	}

	.health:before {
		display: none;
	}

	.health-title {
		padding-right: 0;
		font-size: 58px;
	}

	.health__inner {
		padding-left: 0;
	}

	.afterword {
		padding-right: 0;
	}

	.stimulate:after {
		display: none;
	}

	.stimulate {
		margin: 20px 0 40px;
		padding-right: 20px;
	}

	.stimulate:before {
		left: 50%;
		margin-left: -20px;
	}

	.normalizes {
		width: 50%;
		text-align: left;
		padding-right: 0;
		margin: 0 auto;
	}

	.why {
		display: none;
	}
	
	.effect {
		display: none;
	} 

	.want .container {
		padding: 30px 15px;
	}

	.want .container:before {
		display: none;
	}

	.brand__vertical,
	.brand__horisontal {
		display: none;
	}

	.want-title__item {
		display: inline;
	}

	.want__inner {
		width: 65%;
	}

	.natural-head__inner {
		display: block;
		width: 100%;
	}

	.natural-title {
		text-align: center;
	}	

	.natural-head__inner_modify {
		display: none;
	}	

	.natural-consist__cell {
		padding-right: 115px;
	}
	.natural-consist__cell_modify {
		padding-right: 0;
		padding-left: 115px;
	}
	
	.natural__cell__text {
		font-size: 15px;
	}

	.action__list {
		font-size: 17px;
	}

	.get-power {
		background: #000;
	}

	.get-power__inner {
		width: 100%;
	}

	.get-power-title-wrap:before, 
	.get-power-title-wrap:after {
		display: none;
	}
	
	.fast-power:before {
		display: none;
	}

	.experience {
		display: none;
	}

	.testing-title-wrap {
		width: 100%;
		text-align: center;
	}

	.testing:before {
		display: none;
	}

	.specialist {
		width: 100%;
		margin: 50px 0;
	}

	.specialist-line {
		margin: 80px 0 80px 320px;
	}

	.specialist:before {
		right: 400px;
		top: 50%;
		margin-top: -180px;
	}

	.specialist-line-wrap:before {
		display: none;
	}

	.specialist-test {
		margin-top: 40px;
	}

	.patent {
		display: none;
	}

	.reviews:before {
		display: none;
	}
	
	.live .container:before {
		display: none;
	}

	.live__inner {
		width: 90%;
	}

	.reviews-slider {
		width: 300px;
		margin: 0 auto;
	}

	.reviews-title {
		text-align: center;
	}

	.review-block__list {
		display: block;
		width: 100%;
		margin: 0;
	}

} /*@media 991px */


@media screen and (max-width: 767px) {

	.container {
		width: 320px;
		margin: 0 auto;
	}

	.logo {
		padding-left: 0;
		background: none;
		width: 62%;
	}

	.logo-title {
		font-size: 20px;
	}

	.logo__afterword {
		font-size: 10px;
	}

	.cert-stamp {
		width: 36%;
	}
	
	.cert-stamp img {
		width: 30px;
		margin: 0 2px;
	}

	.power-title {
		font-size: 52px;
		text-align: center;
	}

	.power-title__item__inner {
		font-size: 28px;
	}

	.power-title__item__inner:before, 
	.power-title__item__inner:after {
		right: -7px;
	}

	.plus {
		margin-top: 10px;
	}

	.plus__list {
		padding-right: 30px;
		font-size: 18px;
	}

	.plus__list:before {
		top: -8px;
		right: -40px;
	}
	
	.plus:before,
	.form-wrap:before {
		width: 100px;
		height: 170px;
		margin-top: -85px;
		-webkit-background-size: contain;
		background-size: contain;
	}

	.plus:after,
	.form-wrap:after {
		width: 30px;
		height: 70px;
		margin-top: -35px;
	}

	.only-today__inner {
		background: none;
	}

	.button {
		font-size: 18px;
	}

	.only-today {
		margin-top: 40px;
	}

	.change__inner {
		width: 100%;
	}

	.grid-title {
		font-size: 32px;
	}
	.change {
		background: #263e4f;
	}
	
	.change:before {
		display: none;
	}

	.action__list {
		position: relative;
		padding-right: 0;
		padding-left: 40px;
		padding-top: 0;
		margin: 20px 0;
		text-align: left;
		background: none;
	}

	.action__list:before {
		content: '';
		position: absolute;
		width: 30px;
		height: 12px;
		left: 0;
		top: 5px;
		background: url(../images/action-arrow.html) center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	
	.health {
		border-top: 1px solid #364a55;
		background: #1f2f38;
	}

	.health .container {
		padding: 20px 15px;
	}

	.health-title {
		font-size: 42px;
	}

	.afterword,
	.stimulate__text {
		text-align: left;
		font-size: 18px;
	}

	.normalizes {
		width: 100%;
	}

	.normalizes__list {
		font-size: 18px;
	}

	.want {
		background: #0b0f10;
	}

	.want__inner_modify:before {
		display: none;
	}

	.want__inner_modify:after {
		display: none;
	}

	.want__inner {
		width: 100%;
	}

	.want-title {
		text-align: center;
		font-size: 28px;
	}

	.want-line {
		margin-right: 25px;
		padding-right: 5px;
	}

	.want-line__text {
		padding-left: 0;
		padding-right: 0;
		font-size: 20px;
		text-align: center;
	}
	.natural {
		background: #1f2f38;
	}
	.natural .container {
		padding: 20px 15px;
	}

	.natural-consist:before {
		display: none;
	}

	.natural-title {
		font-size: 22px;
	}

	.natural-consist__inner {
		border: none;
		margin-bottom: 0;
		padding: 0;
	}



	.natural-consist__inner:before, 
	.natural-consist__inner:after {
		display: none;
	}

	.natural__cell__title_1,
	.natural__cell__title_2,
	.natural__cell__title_3,
	.natural__cell__title_4	 {
		display: none;
	}

.natural__cell-title-1, 
.natural__cell-title-2, 
.natural__cell-title-3, 
.natural__cell-title-4 {
		display: block;
		height: 20px;
		color: #60abe9;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 5px;
	}

	.natural__cell__text {
		margin-bottom: 35px;
	}

	.natural-consist {
		margin-top: 20px;
	}

	.natural-consist__cell {
		width: 100%;
		padding: 0;
		display: block;
		text-align: left;
	}

	.get-power-title-wrap {
		margin: 0;
		padding: 10px 0;
		text-align: center;
	}

	.get-power-title {
		padding-left: 0;
	}

	.fast-power {
		margin-top: 20px;
	}

	.fast-power__list {
		padding-left: 65px;
		font-size: 16px;
	}

	.testing .container {
		padding-top: 20px;
	}

	.testing-title {
		font-size: 30px;
	}

	.testing-afterword__text {
		font-size: 24px;
	}

	.specialist {
		margin: 20px 0;
	}

	.specialist:before {
		display: none;
	}

	.specialist-line {
		margin: 15px 0;
	}

	.specialist-line:before, 
	.specialist-line:after {
		display: none;
	}

	.specialist-line-wrap {
		position: relative;
		margin-bottom: 180px;
	}

	.specialist-line-wrap:after{
		content: '';
		position: absolute;
		bottom: -180px;
		width: 100%;
    height: 170px;
    background: url(//viposidn.com/content/KicYlHX8pUIPE39/images/product.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
	}

	.specialist-test {
		margin-top: 0;
	}

	.specialist-test__inner {
		width: 100%;
	}

	.specialist-test__inner_modify {
		display: none;
	}

	.specialist-test__text {
		text-align: center;
	}

	.reviews:before {
		display: none;
	}

	.reviews-title {
		font-size: 28px;
		text-align: center;
	}

	.reviews-title__item {
		font-size: 28px;
	}


	.live .container {
		padding: 20px 15px;
	}


	.live-title {
		font-size: 22px;
	}

	.live-name {
		padding-left: 0;
		background: none;
		font-size: 42px;
	}

	.live-subtitle {
		font-size: 32px;
	}

	.live__inner {
		width: 100%;
	}

	.form-wrap {
		margin-top: 220px;
		width: 100%;
	}

	.sale-form-wrap {
		width: 60%;
		bottom: 100%;
		left: 0;
		padding: 10px 0;
		text-align: left;
	}

	.discount {
		font-size: 68px;
		text-align: left;
	}
	form
	{
		width: 100% !important;
		margin-left: 0 !important;
	}
	.form-price-wrap:before,
	.form-price-wrap:after,
	.form-price-decor:before,
	.form-price-decor:after {
		display: none;
	}

	.form-price__inner:before {
		display: none;
	}

	.form-price-wrap {
		margin-left: -20px;
	}

	.form-title {
		font-size: 24px;
	}

.form-wrap:before,
.form-wrap:after {
	right: 0;
	left: auto;
	margin-top: 0;
	top: auto;
	bottom: 100%;
}

.form-wrap:after {
	right: 40px;
	margin-bottom: 40px;
}

.sale-form__title {
	font-size: 24px;
}

} /*@media 767px */
















@media screen and (min-width: 768px){
 .container {
  width: 747px;
  margin: 0 auto;
 }
}

@media screen and (min-width: 992px){
 .container {
  width: 980px;
  margin: 0 auto;
 }
}

@media (min-width: 1200px) {
 .container {
  width: 1170px;
  margin: 0 auto;
 }
}