html,
body {
   height: 100%;
   position: relative
}

body {
   padding: 0;
   margin: 0;
   font-family: 'Rubik', sans-serif;
   background: #fff
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   border: 0;
   font-size: 100%
}

table td {
   padding: 0
}

a {
   text-decoration: underline;
   padding: 0;
   margin: 0
}

a:hover {
   text-decoration: none
}

a img {
   border: none
}

form {
   margin: 0
}

iframe {
   border: none
}

img {
   border: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0
}

ul,
ul li,
ol,
ol li {
   margin: 0;
   padding: 0;
   list-style-type: none
}

.clear {
   clear: both;
   overflow: hidden;
   height: 0
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden
}

.hidden {
   display: none;
   visibility: hidden
}

.overflow_all {
   position: fixed;
   z-index: 9999;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 40px;
   background: #000;
   color: #fff;
   text-align: center;
   padding-top: 20px;
   opacity: .8
}

.overflow_all A {
   color: #fff
}

#ltie8_message {
   display: none
}

.ltie8 #ltie8_message {
   display: block
}

#ZFDebug {
   z-index: 10000 !important
}

body {
   background: #0F0F0F;
   font-family: "Rubik", "Arial";
   color: #f7d7c0;
   font-size: 17px
}

.wrap {
   width: 980px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   padding: 0 15px;
   margin: 0 auto
}

.sect-1 {
   background: url(../img/bg-1.jpg) no-repeat center;
   background-size: cover;
   padding: 40px 0;
}
.sect-1 h1,.sect-1 h5 {
   text-align: center;
}
.sect-2 {
   background: url(../img/bg-2.jpg) no-repeat center;
   background-size: cover;
   padding: 40px 0;
}
.sect-2 h3 {
   padding-right: 320px;
}
.sect-2 .sect-2-list {
   max-width: 530px;
}
.sect-3 {
   padding: 40px 0
}

.sect-4 {
   background-color: #fe0000;
   padding: 40px 0;
}
.sect-4 .wrap {
   max-width: 480px;
   width: 100%;
   margin: 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
h1 {
   font-size: 79px;
   line-height: 1.1;
   font-weight: 400;
   color: #fff;
}

h3 {
   font-size: 43px;
   color: white;
   font-weight: 400;
   text-transform: uppercase
}

h4 {
   font-size: 20px;
   color: #000;
   font-weight: 400;
   -webkit-padding-after: 20px;
           padding-block-end: 20px
}

h5 {
   font-size: 36px;
   font-weight: 400;
}

h6 {
   font-size: 20px;
   padding-bottom: 10px;
   font-weight: 500
}

.s1-list {
   text-transform: uppercase;
   float: left;
   font-size: 21px;
   color: #fff;
   max-width: 300px;
   margin: 0 30px
}

.s1-list li {
   padding: 10px 0
}
.form_wrap {
   max-width: 600px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 45px auto 0;
}
.form_wrap form{
   text-align: center;
   width: 290px;
   background: url(../img/form_bg.png) no-repeat center right #fe0000;
   padding: 15px 30px 15px 15px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.title_black {
   color: #000
}

.title_white {
   color: #fff;
   display: block
}

input,select {
   width: 100%;
   padding: 0 10px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   min-height: 44px;
   margin: 0
}
.submit {
   background: #fdd000;
   background: -webkit-gradient(linear, left top, left bottom, from(#fdd000), color-stop(50%, #fdd000), color-stop(51%, #fdc52f), color-stop(100%, #d6902a), to(#d6902a));
   background: linear-gradient(to bottom, #fdd000 0%, #fdd000 50%, #fdc52f 51%, #d6902a 100%, #d6902a 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd000', endColorstr='#d6902a', GradientType=0);
   color: #0a1828;
   text-transform: uppercase;
   font-size: 20px;
   border: none;
   border-right: 1px solid #0a1828;
   border-bottom: 1px solid #0a1828;
   border-radius: 3px;
   cursor: pointer
}

.submit:disabled {
   background: #cecece;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #fff), color-stop(51%, #e7e7e7), color-stop(100%, #cecece), to(#cecece));
   background: linear-gradient(to bottom, #fff 0%, #fff 50%, #e7e7e7 51%, #cecece 100%, #cecece 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff ', endColorstr='#cecece', GradientType=0);
   opacity: .9;
   cursor: not-allowed
}

.bg_label input {
   width: auto
}

.price {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   margin: 10px auto 20px;
}

.old {
   width: 49%;
   color: #f5a900;
   font-size: 42px;
   line-height: 1.2;
   text-align: center;
   z-index: 5;
   position: relative;
   display: block;
}

.old::before {
   content: "";
   display: block;
   position: absolute;
   top: 50%;
   right: 50%;
   -webkit-transform: translate(50%,-50%);
           transform: translate(50%,-50%);
   background: url(../img/cross_line.png) no-repeat center;
   background-size: cover;
   width: 120px;
   height: 60px
}

.new {
   width: 49%;
   font-size: 42px;
   line-height: 1.2;
   display: block;
   text-align: center;
}

.price div {
   clear: both;
   font-size: 48px;
   margin-left: 10%
}

.dds {
   display: block;
   font-size: 10px;
   clear: both;
   text-align: center
}

h3 .big {
   font-size: 52px
}

.sect-2 h5 {
   color: #fff;
   margin-top: 20px;
   text-transform: uppercase
}

.list li {
   display: block;
   padding: 12px 10px 12px 50px;
   position: relative
}

.list li::before {
   display: block;
   position: absolute;
   content: "";
   width: 23px;
   height: 23px;
   background: url(../img/list_marker.png) no-repeat center;
   left: 0
}
.sect-3 .wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin: 50px auto;
}
.sect-3 .prod-wrap {
   width: 49%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-line-pack: center;
       align-content: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
}
.sect-3 .prod-wrap img {
   max-width: 180px;
   width: 100%;
}

.sect-3 h3 {
   text-align: center
}

.sect-3 h5 {
   color: white;
   text-align: center;
   margin: 20px
}

.sect-3 ul {
   width: 49%
}

.title-bottom {
   clear: both
}

.sect-4 h4 {
   text-align: center;
}
.s4-left,
.s4-right {
   width: 100%;
   padding: 0 20px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box
}

.s4-right {
   max-width: 292px;
   margin: 0 auto 20px;
   padding: 0;
   text-align: center;
}

.s4-old {
   text-decoration: line-through
}

#timer>div {
   float: left;
   background: url(../img/clock.png) 0 0 no-repeat;
   background-size: cover;
   width: 40px;
   height: 71px;
   line-height: 71px;
   font-size: 64px;
   color: #cecece;
   margin-right: 4px;
   font-family: 'bebas_neue_cyrillicregular';
   text-align: center;
   position: relative
}

#timer>div span {
   position: absolute;
   bottom: -70px;
   left: 0;
   color: #fff;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif
}

#timer .margin {
   margin-right: 20px
}
#timer>div:last-child {
   margin-right: 0
}
.s4-price {
   max-width: 240px;
   width: 100%;
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   margin: 0 auto 20px;
}
.s4-price .s4-old,.s4-price .s4-new {
   font-size: 25px;
   width: 50%;
   text-align: center
}

.white {
   color: #fff
}

footer {
   text-align: center;
   padding-top: 40px;
   padding-bottom: 40px
}

footer a {
   color: #fff;
   text-decoration: none;
   outline: none
}

footer a:hover {
   text-decoration: underline
}

@media (max-width:1040px) {
   .wrap {
      width: 750px
   }

   .sect-3 p {
      font-size: 15px
   }

   .sect-4 {
      padding-bottom: 40px
   }
   .sect-2 .sect-2-list {
      max-width: 460px;
   }
   .sect-2 h3 {
      padding-right: 235px;
  }
}

@media (max-width:767px) {
   .wrap {
      width: 100%;
      padding: 0
   }

   .sect-1 {
      background: none;
   }
   .form_wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
   }
   h1,
   h3 {
      font-size: 23px;
      font-weight: 700;
      color: black;
      padding: 20px 10px;
      background: #f7d7c0;
      text-align: center;
   }

   h5 {
      font-size: 20px;
      text-align: center;
      color: white;
      padding: 20px 10px
   }

   .s1-list {
      margin-left: auto;
      margin-right: auto;
      float: none;
      font-size: 16px;
      position: relative;
      padding-bottom: 350px;
   }
   .s1-list:after {
      content: "";
      position: absolute;
      right: 50%;
      bottom: 13px;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      background: url(../img/product.png) no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;
      height: 320px;
   }
   .s1-list li {
      display: block;
      position: relative;
      padding-left: 50px
   }

   .s1-list li::before {
      display: block;
      position: absolute;
      content: "";
      width: 23px;
      height: 23px;
      background: url(../img/list_marker.png) no-repeat center;
      left: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%)
   }
   .sect-2 .sect-2-list {
      margin: 0 auto;
  }
  .sect-2 h3 {
   padding-right: 0;
}
   .form_wrap {
      float: none;
      margin: 0 auto
   }

   .new {
      text-align: center;
      float: none
   }

   .price div {
      text-align: center;
      margin-left: 0;
      color: white
   }

   .sect-2 {
      background: url(../img/bg-2-small.jpg) no-repeat center;
      background-size: cover;
      padding-top: 0
   }

   .list {
      max-width: 300px;
      margin: auto
   }

   h3 .big {
      font-size: 23px
   }

   .sect-2-list h5 {
      margin-top: 20px;
      margin-bottom: 0
   }

   .sect-3 {
      padding: 0
   }
   .sect-3 .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
   }
   .sect-3 h3 {
      margin-top: 0
   }
   .sect-3 .prod-wrap {
      margin-bottom: 20px;
   }
   .sect-3 img {
      width: 100%;
      max-width: 400px;
      float: none;
      margin: 0 auto;
      display: block
   }

   .sect-3 ul {
      max-width: 300px;
      width: 100%;
      float: none;
      color: #fff;
   }

   .s4-left {
      width: 300px;
      padding: 0
   }
   .s4-price {
      position: relative;
      padding-top: 350px;
   }
   .s4-price:after {
      content: "";
      position: absolute;
      right: 50%;
      top: 13px;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      background: url(../img/product.png) no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;
      height: 320px;
   }
}

.block-form .bg_label {
   display: block;
   font-size: 14px;
   padding-top: 20px
}

.block-form .bg_label a {
   color: #D90000
}

.block-form .bg_label a:hover {
   text-decoration: underline
}

.footer_bg {
   font-size: 0;
   position: relative;
   color: #fff;
   z-index: 5
}

.footer_bg__inner {
   max-width: 1018px;
   margin: 0 auto;
   padding: 20px 15px 90px
}

.footer_bg__left,
.footer_bg__right {
   display: inline-block;
   vertical-align: top;
   width: 50%;
   font-size: 14px;
   line-height: 22px
}

.footer_bg__left:after,
.footer_bg__right:after {
   content: '';
   display: table;
   clear: both
}

.footer_bg__right-content {
   float: right
}

.footer_bg__text {
   font-size: 12px;
   text-align: center;
   margin-top: 50px
}

.footer_bg a {
   display: block;
   cursor: pointer;
   color: #f7d7c0
}

.footer_bg a:hover {
   text-decoration: underline
}

.overlay_bg {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(232, 232, 232, .8);
   z-index: 800;
   display: none
}

.popup_bg {
   position: relative;
   max-width: 490px;
   margin: 30px auto;
   background-color: #000;
   color: #fff;
   border-radius: 4px;
   padding: 18px 35px;
   display: none
}

.close-popup_bg {
   font-size: 28px;
   font-weight: 700;
   color: #aaa;
   position: absolute;
   right: 0;
   top: 0;
   padding: 5px 15px;
   cursor: pointer
}

.close-popup_bg:hover {
   color: #ccc
}

.popup_bg h2 {
   font-size: 20px;
   line-height: 25px;
   margin-bottom: 18px
}

.popup_bg form {
   padding: 15px;
   text-align: center;
   color: #ccc
}

.popup_bg form input,
.popup_bg form textarea {
   width: 100%;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   margin-top: 10px;
   padding: 10px
}

.popup_bg form [type="submit"] {
   -webkit-transition-duration: 0.3s;
           transition-duration: 0.3s;
   cursor: pointer;
   background: #fdd000;
   background: -webkit-gradient(linear, left top, left bottom, from(#fdd000), color-stop(50%, #fdd000), color-stop(51%, #fdc52f), color-stop(100%, #d6902a), to(#d6902a));
   background: linear-gradient(to bottom, #fdd000 0%, #fdd000 50%, #fdc52f 51%, #d6902a 100%, #d6902a 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd000', endColorstr='#d6902a', GradientType=0);
   color: #0a1828;
   text-transform: uppercase;
   font-size: 20px;
   border-right: 1px solid #0a1828;
   border-bottom: 1px solid #0a1828
}

.popup_bg form [type="submit"]:hover {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
   -webkit-box-shadow: 0 0 5px #000;
           box-shadow: 0 0 5px #000
}

input[type="checkbox"] {
   margin-bottom: 0 !important
}

input[type="submit"] {
   margin-top: 20px !important
}

.footer {
   background-color: #000 !important;
   color: #fff !important;
}
form .input-wrapper label {
   display: none;
   pointer-events: none;
 }
 
 form .input-wrapper {
   position: relative;
   margin: 0 auto 20px;
 }
 
 form .input-wrapper .error {
   border: 1px solid red!important;
   padding-top: 6px!important;
 }
 
 form .input-wrapper .error+label {
   width: 100%;
   height: 100%;
   color: red;
   display: block !important;
   font-size: 11px;
   line-height: 17px;
   position: absolute;
   top: 0;
   left: 10px;
   text-align: left!important;
 }
 
 form .input-wrapper .error+label:before,
 form .input-wrapper .error+label:after {
   content: "";
   position: absolute;
   right: 30px;
   top: 50%;
   width: 3px;
   height: 21px;
   background-color: red
 }
 
 form .input-wrapper .error+label:before {
   -webkit-transform: translate(0, -50%) rotate(135deg);
   transform: translate(0, -50%) rotate(135deg)
 }
 
 form .input-wrapper .error+label:after {
   -webkit-transform: translate(0, -50%) rotate(45deg);
   transform: translate(0, -50%) rotate(45deg)
 }
 @media (max-width:550px) {

 }