html {
    min-width: 240px
}

.vk-avatar img {
    float: left;
    margin-right: 10px
}

.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px
}

.vk-comment-name {
    color: #2b587a;
    font-weight: 700;
    font-size: 12px
}

.vk-comment-text {
    margin-left: 60px
}

@media screen and (max-width:999px) {
    .vk-comment-name {
        color: #2b587a;
        font-weight: 700;
        font-size: 18px
    }
}

@media screen and (max-width:319px) {
    .vk-comment-name {
        color: #2b587a;
        font-weight: 700;
        font-size: 15px
    }
}

body {
    padding: 0;
    margin: 0;
    background: transparent url(body-bg.jpeg) repeat scroll 0 0
}

body * {
    font-family: Arial
}

h1 {
    font-weight: 400;
    margin: 0
}

h1 {
    font-size: 27px
}

a {
    color: #ba0009
}

a:hover {
    text-decoration: none;
    color: red
}

.wrap {
    max-width: 700px;
    min-width: 240px;
    margin: 0 auto
}

body img {
    max-width: 400px
}

.content {
    padding: 20px;
    background: #fff none repeat scroll 0 0
}

.post {
    font-size: 17px
}

.post .info {
    color: #999;
    font-size: 11px;
    font-style: italic
}

.post a {
    font-size: 19px
}

#trp-discount-block {
    background: rgba(0, 0, 0, 0) url(discount-block.png) no-repeat scroll 0-70px;
    background-size: contain;
    background-position: top;
    border-radius: 4px;
    bottom: 1px;
    cursor: pointer;
    height: 70px;
    position: fixed;
    max-width: 422px;
    width: 100%;
    z-index: 10000;
    left: 50%;
    transform: translateX(-50%)
}

@media screen and (max-width:425px) {
    #trp-discount-block {
        width: 320px;
        height: 45px
    }
}

@media screen and (max-width:240px) {
    #trp-discount-block {
        width: 220px
    }
}